<p>Ваш заказ</p>
<table style=" border-collapse: collapse;border: 1px solid #c2c2c2; width: 100%;">
	<tr>
		<td style="border: 1px solid #c2c2c2;font-size: 12px;text-transform: uppercase;color: #c2c2c2;padding: 5px 2%;width: 39%;">Наименование</td>
		<td style="border: 1px solid #c2c2c2;font-size: 12px;text-transform: uppercase;color: #c2c2c2;padding: 5px 2%;width: 15%;">Цена</td>
		<td style="border: 1px solid #c2c2c2;font-size: 12px;text-transform: uppercase;color: #c2c2c2;padding: 5px 2%;width: 15%;">кол-во</td>
		<td style="border: 1px solid #c2c2c2;font-size: 12px;text-transform: uppercase;color: #c2c2c2;padding: 5px 2%;width: 15%">Стоимость</td>
	</tr>
	<tr>
		<td style="border: 1px solid #c2c2c2;font-size: 16px;padding: 5px 2%;width: 39%;">вкусные шумаштуки</td>
		<td style="border: 1px solid #c2c2c2;font-size: 16px;padding: 5px 2%;width: 15%;">много денег</td>
		<td style="border: 1px solid #c2c2c2;font-size: 16px;padding: 5px 2%;width: 15%;">много штук</td>
		<td style="border: 1px solid #c2c2c2;font-size: 16px;padding: 5px 2%;width: 15%">запредельно</td>
	</tr>
</table>
<div style="width: 100%;text-align: right;font-weight: bold;"><p style="padding-right: 50px;">Итого: с ума сойти</p></div>