<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
<!-- cd to domain name-->
	<base href="http://localhost/">
	<link rel="stylesheet" href="../css/all.css">
<!-- page style-->	
	<link rel="stylesheet" href="../css/all_manager.css">
	
<!--def color setup-->
	<style>
		.color_th{color:#a9538a!important;}
		.color_th_hover:hover{color:#a9538a!important;}
		.bg_color_th{background-color:#a9538a!important;}
		.bg_color_th_hover:hover{background-color:#a9538a!important;}
		.svg_fill_color{fill:#a9538a!important;}
		.svg_stroke_color{stroke:#a9538a!important;}
		.svg_stroke_color_hover:hover{stroke:#a9538a!important;}
		.svg_fill_color_hover:hover{fill:#a9538a!important;}
		.border_hover:hover{border-color:#a9538a!important;}
		.border_color{border-color:#a9538a!important;}
		.focus{box-shadow: 0px 1px 15px 0px #a9538a;z-index: 2;}
		.shadow_hover:hover{box-shadow: 0px 1px 15px 0px #a9538a;}
	</style>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="../js/core.js"></script>
	<script src="../js/all.js"></script>

<!-- page script-->
	<script src="../js/all_manager.js"></script>

</head>
<body>

<div id="left_bar" class="inline_style">
	<div id="left_bar_wrap">
		<a href="#" class="back color_th_hover css_trans">← Вернуться на сайт</a>
		<img src="../img/demo_logo.png" class="logo">
		<ul>
			<li><a href="#" class="css_trans color_th_hover">Клиенты<span class="bg_color_th"></span></a></li>
			<li><a href="#" class="css_trans color_th_hover">Календарь заказов<span class="bg_color_th"></span></a></li>
			<li><a href="#" class="css_trans color_th_hover">Документооборот<span class="bg_color_th"></span></a></li>
			<li><a href="#" class="css_trans color_th_hover">Акции и рекомендации<span class="bg_color_th"></span></a></li>
			<li><a href="#" class="css_trans color_th_hover">Промоматериалы<span class="bg_color_th"></span></a></li>
			<li><a href="#" class="css_trans color_th_hover">Настройки<span class="bg_color_th"></span></a></li>
		</ul>
	</div>
	<a href="#" class="log_out">Выход</a>
</div><div id="conten_zone" class="inline_style">
<!--content_area-->
	<div id="align_zone">
		<div id="manager_short_info">
			<div class="img_fon inline_style" style="background-image:url(../img/lizo.png)"></div>
			<div class="inline_style">
				<p>Валентина</p>
				<p>Полякова-Залесская</p>
			</div>
			<div class="inline_style">
				<p>+7 (916) 232-22-11</p>
				<p>e-mail: valeria@optproject.com</p>
			</div>
		</div>

		<div id="discont_table" class="white_fon">
			<div class="discont_head">
				<div class="row1">Сумма скидки</div>
				<div class="row2">Процент скидки</div>
				<div class="row3"></div>
			</div>
			<div class="discont_body">
			<form action="" method="POST" id="form_disc">
				<!-- если нет скидок оставить тут пустоту, иначае для каждого правила создать html, где {{index}} заменить на порядковый номер начиная с 0
					<div class="discont_form_line">
						<div class="row1"><input type="text" name="disc[{{index}}][summ]" required></div>
						<div class="row2"><input type="text" name="disc[{{index}}][prozent]" required></div>
						<div class="row3"><span class="del_line border_hover css_trans">Удалить<span></div>
					</div>

				-->
				<button id="add_disc_line" class="css_trans border_hover">Добавить правило</button>
				<button id="save_disc" class="bg_color_th">Сохранить</button>

			</form>
			</div>
		</div>
		

		
		
		
	</div>
	<!--content_area end-->
<!--footer start-->
	<div id="footer_margin"></div>
	<div id="footer">
		<p class="copyright">© 2015 opt prodject</p>
		<div class="inline_style">
			<a href="#" class="mail_rss color_th_hover css_trans border_hover"><span>Подписаться на рассылку</span> <span class="color_th">→</span></a>
		</div><div class="inline_style">
			<ul class="soc_li">
				<li><a href="#" target="blank"><img src="../img/soz1.png" alt=""></a></li>
				<li><a href="#" target="blank"><img src="../img/soz2.png" alt=""></a></li>
				<li><a href="#" target="blank"><img src="../img/soz3.png" alt=""></a></li>
			</ul>	
		</div><div class="inline_style">
			<ul class="map_site">
				<li><a href="#" class="color_th_hover css_trans">О магазине</a></li>
				<li><a href="#" class="color_th_hover css_trans">Доставка</a></li>
				<li><a href="#" class="color_th_hover css_trans">Личный кабинет</a></li>
			</ul>
		</div>
	</div>
	<!--footer_end-->
</div>
	
</body>
</html>