.crm_title {
    margin-top: 4vw;!important
}
#select_new_manager{
    border: 1px solid #dedede;
    outline: none;
    font-size: 0.9vw;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.7vw 2% 0.7vw;
    cursor: pointer;
    width: calc(100% - 37%);
    background: white url(../img/select_ico.png) no-repeat;
    background-position: 94% center;
    background-size: 0.7vw;
}
#manager_dop_info_set a {
    color: white;
    padding: 0.8vw 1.6vw;
    border-radius: 30px;
    font-size: 1vw;
}
#select_new_manager{
    border: 1px solid #dedede;
    outline: none;
    font-size: 0.9vw;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.7vw 2% 0.7vw;
    cursor: pointer;
    width: calc(100% - 37%);
    background: white url(../img/select_ico.png) no-repeat;
    background-position: 94% center;
    background-size: 0.7vw;
}
#select_manager span {
    color: #565b6d;
}