@font-face {
    font-family: 'pf_dindisplay_proregular';
    src: url('../font/pfdindisplaypro-reg-webfont.eot');
    src: url('../font/pfdindisplaypro-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../font/pfdindisplaypro-reg-webfont.woff2') format('woff2'), url('../font/pfdindisplaypro-reg-webfont.woff') format('woff'), url('../font/pfdindisplaypro-reg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_dindisplay_probold';
    src: url('../font/ufonts.com_pfdindisplaypro-bold-webfont.eot');
    src: url('../font/ufonts.com_pfdindisplaypro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/ufonts.com_pfdindisplaypro-bold-webfont.woff2') format('woff2'), url('../font/ufonts.com_pfdindisplaypro-bold-webfont.woff') format('woff'), url('../font/ufonts.com_pfdindisplaypro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Rubl';
    font-style: normal;
    font-weight: normal;
    src: local('ALS Rubl'), url('../font/rouble.woff') format('woff');
}

html, body, p, ul, li, h1, h2, h3, input, button, textarea {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1vw;
    background: #f9f9f9;
}

img {
    display: inline-block;
    border: 0;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: 0;
}

html {
    font-family: 'pf_dindisplay_proregular';
}

button, input, textarea {
    font-family: 'pf_dindisplay_proregular';
    outline: none;
}

.align {
    position: relative;
    width: 1112px;
    margin: 0 auto;
}

.img_fon {
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.css_trans {
    -moz-transition: all 0.6s ease-in 0s;
    -o-transition: all 0.6s ease-in 0s;
    transition: all 0.6s ease-out 0s;
}

.inline_style {
    display: inline-block;
    vertical-align: top;
}

.vert_style {
    display: inline-block;
    vertical-align: middle;
}

.vert_style:last-child {
    width: 0px;
    height: 100%;
}

b {
    font-weight: normal;
}

.hidden {
    display: none;
}

.breadcrumbs_item_card {
    color: #565b6d;
}

.failed {
    box-shadow: 0px 1px 15px 0px red;
}

.done {
    box-shadow: 0px 1px 15px 0px green;
}

.hid_content {
    display: none;
}

.rub_lt {
    font-family: 'ALS Rubl';
}

#left_bar {
    background: white;
    width: 16.5%;
    position: relative;
}

#left_bar_wrap {
    padding: 1.5vw 0 3.1vw;
}

#left_bar_wrap .back {
    color: #a9a9a9;
    font-size: 0.8vw;
    display: block;
    margin: 0 0 1.5vw 1.6vw;
}

#left_bar_wrap .logo {
    display: block;
    margin: 0 auto;
    width: 3.6vw;
}

#left_bar_wrap .barbers-logo {
    width: 7vw;
}

#left_bar_wrap ul {
    padding-top: 1.5vw;
}

#left_bar_wrap ul li {
    position: relative;
}

#left_bar_wrap ul li a {
    color: #2a2a2a;
    display: block;
    position: relative;
    padding: 1vw 0vw 1vw 1.6vw;
}

#left_bar_wrap ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1.6vw;
    width: calc(100% - 2.6vw);
    height: 1px;
    background: #eaebed;
}

#left_bar_wrap ul li a span {
    position: absolute;
    left: 0;
    width: 0px;
    height: 100%;
    top: 0;
}

#left_bar_wrap ul li.active span {
    width: 3px;
}

#left_bar_wrap ul li span {
    position: absolute;
    left: 0;
    width: 0px;
    height: 100%;
    top: 0;
    z-index: 20;
}

#left_bar_wrap ul li span.active {
    width: 3px;
}

.child_true ul {
    display: none;
}

.sub_level {
    position: fixed;
    top: 0;
    left: 16.5%;
    width: 16.5%;
    height: 100%;
    overflow: scroll;
    z-index: 2000;
    background: white;
}

.sub_level ul li a {
    color: #2a2a2a;
    display: block;
    position: relative;
    padding: 1vw 0vw 1vw 1.6vw;
}

.sub_level ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1.6vw;
    width: calc(100% - 2.6vw);
    height: 1px;
    background: #eaebed;
}

.sub_level:nth-child(2) {
    left: 33%;
}

.sub_level:nth-child(3) {
    left: 49.5%;
}

.sub_level:nth-child(4) {
    left: 66%;
}

.sub_level:nth-child(6) {
    left: 82.5%;
}

.sub_level:nth-child(2n) {
    background: #EFEFEF;
}

.sub_level:nth-child(2n-1) .this_link_open {
    background: #EFEFEF;
}

.hover_level1 {
    background: #f9f9f9;
}

/*
#left_bar_wrap .child_true ul{pointer-events:none;opacity:0;position: fixed;background: #f9f9f9;width: 16.5%;left: 16.5%;top: 0;height: 100%;z-index: 1100;box-shadow: 14px 0 30px -20px #000;padding:0;overflow-y:scroll;overflow-x:visible;}
#left_bar_wrap .child_true:hover> ul{opacity: 1;pointer-events:all;padding:0;}

#left_bar_wrap .child_true:hover{background: #f9f9f9;}

#left_bar_wrap .child_true .child_true ul{left:32.9%;background: #E4E4E4;}
#left_bar_wrap .child_true .child_true:hover{background: #E4E4E4;}
*/

#conten_zone {
    width: 83.5%;
    position: relative;
    z-index: 0;
}

#conten_zone.fixed {
    position: fixed;
    bottom: 0;
    left: 16.5%;
}

#conten_zone.scroll {
    margin-left: 16.5%;
}

#left_bar.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

#left_bar.scroll {
}

#footer_margin {
    padding-top: 8.9vw;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    height: 8.9vw;
    text-align: right;
    color: #b3b3b3;
}

#footer:after {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

#footer .copyright {
    position: absolute;
    font-size: 0.6vw;
    text-transform: uppercase;
    left: 1.6vw;
    top: 50%;
    margin-top: -0.3vw;
}

#footer .inline_style {
    vertical-align: middle;
}

#footer .mail_rss {
    font-size: 0.7vw;
    padding: 0.5vw 1vw;
    border: 1px solid #b3b3b3;
    border-radius: 30px;
    margin-right: 1.6vw;
    display: none;
}

#footer .mail_rss span {
    display: inline-block;
    vertical-align: middle;
}

#footer .soc_li {
    padding-right: 2.1vw;
    border-right: 1px solid #b3b3b3;
}

#footer .soc_li li {
    display: inline-block;
    vertical-align: middle;
}

#footer .soc_li li a {
    display: inline-block;
    width: 1.6vw;
}

#footer .soc_li li img {
    width: 100%;
    display: block;
}

#footer .map_site {
}

#footer .map_site li {
    display: inline-block;
    padding: 0 1vw;
}

#footer .map_site li:last-child {
    padding-right: 1.5vw;
}

#footer .map_site li a {
    font-size: 0.6vw;
}

#cart_msg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 900;
}

#cart_shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.69);
    cursor: pointer;
}

#cart_msg_wrap {
    display: inline-block;
    position: relative;
    background: white;
    width: 40vw;
    font-size: 16px;
}

#cart_msg_wrap .close {
    position: absolute;
    background: url(../img/close.png);
    pointer-events: none;
    background-repeat: no-repeat;
    top: 0px;
    right: -70px;
    width: 4vw;
    height: 50px;
    background-size: 49px;
}

#cart_msg_cont {
    height: 100%;
    overflow-x: hidden;
}

.cursor * {
    cursor: wait !important;
}

.scroll_cart_msg.scrl {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.msg_padding {
    padding: 1vw;
}

.dt_title_des span {
    font-size: 0.9vw;
}

#imagelightbox {
    position: fixed;
    z-index: 999;
    -ms-touch-action: none;
    /* touch-action: none; */
}

.save_button {
    color: #565b6d;
    background: transparent;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    padding: 0.3vw 0.8vw;
    font-size: 0.8vw;
    display: inline-block;
    margin-bottom: 1vw;
}

.selector_all {
    width: 1vw;
    height: 1vw;
    border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0.5vw;
    background: #c2c2c2;
}

.selector_all.active {
    background-image: url(../img/select_active.png);
    background-size: 0.6vw;
    background-repeat: no-repeat;
    background-position: center center;
}

.bonus_check {
    width: 1vw;
    height: 1vw;
    border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0.5vw 0.5vw 0.5vw 0;
    background: #c2c2c2;
}

.bonus_check.active {
    background-image: url(../img/select_active.png);
    background-size: 0.6vw;
    background-repeat: no-repeat;
    background-position: center center;
}

.bonus {
    width: 1vw;
    height: 1vw;
    border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0.5vw;
    background: #c2c2c2;
}

.bonus.active {
    background-image: url(../img/select_active.png);
    background-size: 0.6vw;
    background-repeat: no-repeat;
    background-position: center center;
}

#abc_head_table .row2, #abc_head_table .row3, #abc_head_table .row4:hover {
    cursor: pointer;
}

#manger_head .row2, #manger_head .row3, #manger_head .row4:hover, #manger_head .row5 {
    cursor: pointer;
}

.bonus_input {
    color: #232323;
    font-size: 1.1vw;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 0.7vw 0.8vw;
    display: inline-block;
    vertical-align: middle;
    width: 9.5vw;
    margin-left: 1.3vw;
}

.set_bonus .order_info:hover {
    cursor: pointer;
    /* padding: 5.7vw 0; */
}

.setBonus {
    background-color: rgba(239, 248, 233, 1);
    border-top: 1px solid #e2eed9;
    padding: 0.7vw 0 0.7vw 1vw;
}

.used_bonus {
    background-color: rgba(255, 35, 15, 0.3);
    border-top: 1px solid #e2eed9;
    padding: 0.7vw 0 0.7vw 1vw;
}

.percent_sale {
    background: url(../img/sale.png) no-repeat center;
    background-size: cover;
    width: 3.5vw;
    height: 2vw;
    position: absolute;
    top: 0.9vw;
    left: -0.3vw;
    z-index: 9999;
    /* right: 0vw; */
}

.percent_cart {
    background: url(../img/percent_cart.png) no-repeat center;
    background-size: cover;
    width: 1vw;
    height: 0.8vw;
    margin-left: 1vw;
}

.percent_sale.item_view {
    width: 11.1vw;
    height: 6.1vw;
    left: 1vw;
}

@media screen and (min-width: 760px) {
    #select_weight li {
        margin-right: 1vw;
    }

    #select_weight li svg {
        width: 1vw;
        margin-right: 0.5vw;
        height: 1vw;
    }
}

#select_weight li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#select_weight li svg {
    display: block;
    cursor: pointer;
}

.outer_circle {
    fill: transparent;
    stroke: #c0c0c0;
    transition: 0.3s ease-out;
}

.inner_circle {
    fill: transparent;
    transition: 0.3s ease-out;
}

#select_weight li.active svg .inner_circle {
    fill: #c9001e;
}

.new_wrap_for_sl {
    height: 100%;
}

@media screen and (max-width: 760px) {
    #cart_msg_wrap.custom_style_modal {
        width: 100%;
    }

    #cart_msg_wrap .input_log {
        width: 100%;
        font-size: 6vw;
    }

    #cart_msg_wrap .submit_log, .submit_recover, .submit_new_user {
        width: 38vw;
        font-size: 6vw;
        padding: 5.6vw 0;
    }

    #cart_msg_wrap #log_form_wrap p {
        font-size: 6vw;
    }

    #cart_msg_wrap #log_form_wrap .recover_pass {
        font-size: 4vw;
    }

    #cart_msg_wrap .dop_autorization_box p {
        font-size: 6vw;
    }

    #cart_msg_wrap .dop_autorization_box a {
        font-size: 4vw;
    }
}

.new_users {
    display: inline;
    margin-left: 0.3vw;
    position: relative;
    bottom: 0.6vw;
    font-size: 0.9vw;
    padding: 0 0.37vw 0 0.5vw;
    border-radius: 1vw;
}

.goods_item .block_item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(92, 74, 67, 0.44);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5.5vw;
    font-family: 'Circe-Light';
}