textarea, input {
    width: calc(100% - 2.2vw);
    border: 1px solid #dedede;
    border-radius: 5px;
    resize: none;
    padding: 0.7vw 2%;
    font-size: 0.9vw;
    margin-bottom: 0.8vw;
}

.form_submit {
    border-radius: 50px;
    color: white;
    font-size: 1.1vw;
    text-transform: uppercase;
    padding: 0.5vw 3vw;
    display: block;
    margin: 1.5vw auto;
}

.log_out {
    background: url(../img/exit.png) no-repeat left center;
    margin-left: 0.15vw;
    background-size: 0.9vw;
    font-size: 0.9vw;
    color: #2a2a2a;
    position: absolute;
    bottom: 0;
    left: 1.6vw;
    width: calc(100% - 4.8vw);
    border-top: 1px solid #eaebed;
    padding: 1vw 0 1vw 1.6vw;
}

#align_zone {
    padding: 2%;
}

.publisher_title {
    font-size: 1.4vw;
    color: #5d5d5d;
    padding-bottom: 1.5vw;
}

.white_fon {
    background: white;
    border-radius: 5px;
}

.form_style_l {
    padding: 1.6vw 2%;
    width: 58%;
}

.white_fon.form_style_l.publisher {
    width: 80%;
}

.input_publisher {
    width: calc(40% - 2.2vw) !important;
}

.is_active_checkbox {
    max-width: 4%;
}

.selector {
    width: 1vw;
    height: 1vw;
    border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    background: #c2c2c2;
    max-width: 4%;
    margin-left: 6% !important;
}

.delete_publisher span {

}

.delete_publisher {
    cursor: pointer;
    color: #555555;
    margin-left: 3%;
    display: inline-block;
}
.delete_publisher_2 {
    cursor: pointer;
    color: #555555;
    margin-left: 3%;
    display: inline-block;
}

.selector.active {
    background-image: url(../img/select_active.png);
    background-size: 0.6vw;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 4%;
    margin-left: 6% !important;
}

.form_style {
    padding: 1.6vw 2%;
    width: 45%;
}

form p {
    color: #232323;
    font-size: 1.1vw;
    padding-bottom: 0.7vw;
}

.form_style textarea {
    height: 7vw;
}

.usloviya_wrap textarea {
    height: 17vw;
}

.usloviya_wrap button {
}

.usloviya_wrap form {
}

#test_pub_folder {
    width: 10%;
    background: red;
    height: 100%;
    position: fixed;
}

#publisher_left_menu {
    position: fixed;
    top: 0;
    width: 15%;
    height: 100%;
    overflow: hidden;
    background: white;
    padding: 0 1.6%;
    box-shadow: inset 0 0 0px 2px #e9e9e9;
}

.pub_row #align_zone {
    width: calc(78% - 4%);
    display: inline-block;
    vertical-align: top;
    margin-left: 22%;
}

.add_akz {
    font-size: 1vw;
    text-transform: uppercase;
    display: block;
    text-align: center;
    background: #f9f9f9;
    padding: 0.5vw 0;
    margin: 1.5vw 0;
}

#publisher_left_menu ul {
}

#publisher_left_menu ul li {
    border-bottom: 1px solid #eaebed
}

#publisher_left_menu ul li a {
    font-size: 1vw;
    color: #4b4b4b;
    padding: 0.4vw 0;
    display: block;
}

.img_file_box {
    width: 100%;
    position: relative;
}

.img_file_wrap {
    position: relative;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.img_file_wrap_i {
    width: 100%;
    height: 2vw;
    overflow: hidden;
    position: relative;
}

.img_file_wrap p {
    padding: 0.3vw 1vw;
    position: relative;
    top: 0;
    font-size: 0.9vw;
    border-radius: 50px;
    color: white;
    pointer-events: none;
    display: inline-block;
}

.img_file_wrap input {
    opacity: 0;
    cursor: pointer;
    padding: 0;
    width: 200%;
    left: -50%;
    position: absolute;
}

.img_file_box img {
    max-width: 90%;
}

.img_file_preview {
    display: inline-block;
    text-align: center;
    width: 50%;
}

.left_align {
    display: inline-block;
    margin: 1vw auto 3vw;
}

.input_div {
    padding-bottom: 1vw;
}

.input_div p {
    display: inline-block;
    vertical-align: middle;
    width: 34%;
    padding: 0;
}

.input_div input {
    display: inline-block;
    vertical-align: middle;
    width: calc(65% - 2.2vw);
    margin: 0;
}

.bg_gray {
    background: #F9F9F9;
    padding: 1vw 0;
    display: none;
    width: 50%;
}

.img_file_wrap .add_f {
    pointer-events: all;
    cursor: pointer;
}

.img_file_wrap .remove_f {
    cursor: pointer;
    pointer-events: all;
}

#slaider_wrap .img_file_box {
    padding-bottom: 1vw;
}

#catalog_menu {
    position: fixed;
    top: 0;
    width: 15%;
    height: 100%;
    overflow: auto;
    background: white;
    padding: 0 1.6%;
    box-shadow: inset 0 0 0px 2px #e9e9e9;
}

#catalog_menu ul {
    padding-left: 1vw;
    display: none;
}

#catalog_menu ul li {
    padding: 0.4vw 0;
}

#catalog_menu ul li a {
    color: #5d5d5d;
    font-size: 0.9vw;
    display: inline-block;
    vertical-align: middle;
}

#catalog_menu > ul {
    padding: 0;
    display: block;
}

/*#catalog_menu > ul > li > ul{display: block;}
*/
.folder_ico {
    display: inline-block;
    vertical-align: middle;
    width: 0.9vw;
    height: 0.9vw;
    border-radius: 2px;
    background: #e9e9e9 url(../img/open_folder.png) no-repeat center center;
    margin-right: 0.5vw;
    background-size: 0.5vw;
}

.folder_ico.open {
    background-image: url(../img/close_folder.png);
}

#contextmenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#contextmenu_close {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contextmenu_wrap {
    position: absolute;
    background: white;
    right: 1vw;
    width: 13vw;
    box-shadow: 0 0 10px 1px #e9e9e9;
    margin-top: 0.7vw;
}

#contextmenu_wrap .title {
    padding: 0.4vw 0.7vw;
    background: #e9e9e9
}

#contextmenu_wrap a {
    margin: 0 0.7vw;
    display: block;
    border-bottom: 1px solid #e9e9e9;
    padding: 0.3vw 0;
}

#contextmenu_wrap a img {
    vertical-align: middle;
    width: 1.2vw;
    height: auto;
}

#contextmenu_wrap a span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.8vw;
}

#catalog_menu ul li a.unpub {
    color: #B68282;
    font-style: italic;
}

#catalog_menu ul li a.del {
    color: #A52A2A;
    text-decoration: line-through;
}

.radio_line {
    padding-top: 0.5vw;
}

.radio_line input {
    width: auto;
    box-shadow: 0 0 0 0 !important;
    cursor: pointer;
}

.radio_line span {
}

#select_type_ button {
    padding: 0.3vw 1vw;
    position: relative;
    top: 0;
    font-size: 0.9vw;
    border-radius: 50px;
    color: #FFF;
}

#form_hid_tab form {
    display: none;
}

#publiser_tovar_foto {
}

#publiser_tovar_foto .pub_form_label_p {
    width: 35%;
}

#publisher_foto_cont {
    width: 65%;
    display: inline-block;
}

#publisher_foto_cont p {
    /* display: none; */
}

#publisher_foto_cont .img_file_wrap input {
    width: 100%;
    height: 100%;
    left: 0;
}

#publisher_foto_cont .img_file_wrap {
    width: 100%;
    height: 100%;
    z-index: 100;
}

#publisher_foto_cont .img_file_wrap_i {
    width: 100%;
    height: 100%;
}

#publisher_foto_cont .img_file_preview {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 102;
    display: block;
    pointer-events: none;
}

#publisher_foto_cont .img_file_box img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    pointer-events: none;
}

#publisher_foto_cont .img_file_box {
    width: 30%;
    margin-right: 2%;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    height: 6vw;
    display: inline-block;
    overflow: hidden;
}

#promo_file_input_img .pub_form_label_p {
    width: 40%;
}

#promo_file_input_img .img_file_wrap {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
}

#promo_file_input_img .img_file_wrap_i {
    height: 100%;
}

#promo_file_input_img #wrap_eto .img_file_preview {
    display: block;
    position: relative;
    z-index: 0;
    width: 100%;
}

#promo_file_input_img #wrap_eto .img_file_preview img {
    width: 100%;
}

#promo_file_input_img #wrap_eto {
    display: inline-block;
    width: 60%;
    position: relative;
}

#promo_file_input_img #wrap_eto .img_file_wrap p {
    display: none;
}

#promo_file_input_img #wrap_eto .img_file_wrap input {
    left: 0;
    width: 100%;
    height: 100%;
}

#select_type {
    border: 1px solid #dedede;
    outline: none;
    font-size: 0.9vw;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.7vw 2% 0.7vw;
    cursor: pointer;
    width: calc(100% - 37%);
    background: white url(../img/select_ico.png) no-repeat;
    background-position: 94% center;
    background-size: 0.7vw;
}

#akz_file_input_img .pub_form_label_p {
    width: 100%;
}

#akz_file_input_img .img_file_wrap {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
}

#akz_file_input_img .img_file_wrap_i {
    height: 100%;
}

#akz_file_input_img #wrap_eto .img_file_preview {
    display: block;
    position: relative;
    z-index: 0;
    width: 100%;
}

#akz_file_input_img #wrap_eto .img_file_preview img {
    width: 100%;
}

#akz_file_input_img #wrap_eto {
    display: inline-block;
    width: 100%;
    position: relative;
}

#akz_file_input_img #wrap_eto .img_file_wrap p {
    display: none;
}

#akz_file_input_img #wrap_eto .img_file_wrap input {
    left: 0;
    width: 100%;
    height: 100%;
}

.type_list_item {
}

.type_list_item input {
    width: 50%;
}

.type_list_item button {
    font-size: 1vw;
    background: white;
    padding: 0.3vw 1vw;
    border: 1px solid #c2c2c2;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 2vw;
}

.add_new_type {
    font-size: 1vw;
    background: white;
    padding: 0.3vw 1vw;
    border: 1px solid #c2c2c2;
    border-radius: 50px;
    cursor: pointer;
}

.save_new, .reset_new {
    padding: 0.3vw 1vw;
    position: relative;
    top: 0;
    font-size: 0.9vw;
    border-radius: 50px;
    color: #FFF;
    margin-right: 1vw;
}

.del_this_pub_foto {
    position: absolute;
    top: 0;
    width: 2vw;
    height: 2vw;
    background: url(../img/fancybox_sprite.png);
    z-index: 300;
    pointer-events: all;
    right: 0;
    background-size: 2.4vw;
    cursor: pointer;
}

.promo_click span:first-child {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
}

.promo_click span:last-child {
    display: inline-block;
    vertical-align: middle;
}

.akz_click span:first-child {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
}

.akz_click span:last-child {
    display: inline-block;
    vertical-align: middle;
}

.download_link_promo {
}

.download_link_promo p {
    font-size: 1vw;
    padding-bottom: 1vw;
}

.download_link_promo button {
    border-radius: 50px;
    color: #FFF;
    font-size: 1.1vw;
    text-transform: uppercase;
    padding: 0.5vw 3vw;
    display: block;
    margin: 2vw 0 4vw;;
}

.add_field_publisher {
    border-radius: 50px;
    color: white;
    font-size: 1.1vw;
    text-transform: uppercase;
    padding: 0.5vw 3vw;
    /* display: block; */
}
.add_field_publisher_2 {
    border-radius: 50px;
    color: white;
    font-size: 1.1vw;
    text-transform: uppercase;
    padding: 0.5vw 3vw;
    float: right;
    /* display: block; */
}

.errorMessage {
    color: red;
}

.errorSummary {
    color: red;
    padding: 1vw 0;
}

.add_new_type_filter {
    font-size: 1vw;
    background: white;
    padding: 0.3vw 1vw;
    border: 1px solid #c2c2c2;
    border-radius: 50px;
    cursor: pointer;
}

.cats_list {
    border: 1px solid #dedede;
    outline: none;
    font-size: 0.9vw;
    border-radius: 5px;
    -webkit-appearance: none;
    padding: 0.7vw 2% 0.7vw;
    cursor: pointer;
    width: calc(100% - 3%);
    background: white url(../img/select_ico.png) no-repeat;
    background-position: 94% center;
    background-size: 0.7vw;
}

.cat_name:hover {
    cursor: pointer;
}

.category {
    list-style: none; /* Убираем исходные маркеры */
    background: url(../img/folder.jpg) no-repeat -2px -2px; /* Параметры фона */
    padding-left: 25px; /* Смещаем текст вправо */
    /* background-position: 94% center; */
    background-size: 1.2vw;
    margin-top: 0.3vw;
}