#align_zone {
    padding: 0 2%;
}

.log_out {
    background: url(../img/exit.png) no-repeat left center;
    margin-left: 0.15vw;
    background-size: 0.9vw;
    font-size: 0.9vw;
    color: #2a2a2a;
    position: absolute;
    bottom: 0;
    left: 1.6vw;
    width: calc(100% - 4.8vw);
    border-top: 1px solid #eaebed;
    padding: 1vw 0 1vw 1.6vw;
}

#manager_short_info {
    color: #565b6d;
    padding: 1.6vw 0 2.6vw;
}

#manager_short_info .inline_style {
    vertical-align: middle;
    font-size: 1vw;
    margin-right: 1.5vw;
}

#manager_short_info .inline_style:last-child {
    font-size: 0.9vw;
}

#manager_short_info .img_fon {
    width: 3.6vw;
    height: 3.6vw;
    border-radius: 100px;
}

.manager_title {
    font-size: 1.4vw;
    color: #5d5d5d;
    padding-bottom: 1vw;
    position: relative;
}

.goods_item {
    display: inline-block;
    vertical-align: top;
    background: white;
    width: 18%;
    margin: 0 2% 2% 0;
    padding-bottom: 1.5vw;
}

.goods_item:nth-child(5n+7) {
    margin-right: 0;
}

#tovari_tut .goods_item:nth-child(5n+5) {
    margin-right: 0;
}

#tovari_tut .goods_item:nth-child(5n+7) {
    margin-right: 2%;
}

.goods_item .img_fon {
    height: 11.1vw;
    border-bottom: 1px solid #f2f2f2;
}

.goods_item p {
    font-size: 1vw;
    color: #565b6d;
    padding: 1.4vw 1.6vw 1vw;
}

.goods_item .price, .goods_item button {
    display: inline-block;
    font-size: 1vw;
    padding: 0.4vw 0;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    width: 6vw;
    text-align: center;
    background: transparent;
    color: #5d5d5d;
}

.goods_item .price {
    margin-left: 0.9vw;
    font-family: 'pf_dindisplay_probold';
}

.goods_item button {
    margin-left: 0.3vw;
    font-size: 0.9vw;
    padding: 0.5vw 0;
}

.goods_item button svg {
    width: 0.7vw;
    height: 0.7vw;
    stroke-width: 20px;
    margin-right: 0.5vw;
}

.akz_special_item {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    background: white;
    margin-right: 2%;
    margin-bottom: 2%;
    height: 19vw;
    border-radius: 7px;
}

.akz_special_item:nth-child(2n) {
    margin-right: 0;
}

.akz_special_item .img_fon {
    height: 100%;
    width: 55%;
    margin: 0 2.5%;
    display: inline-block;
    vertical-align: middle;
}

.demo_akz_txt_cont {
    display: inline-block;
    vertical-align: middle;
    width: 38%;
    color: #5d5d5d;
}

.demo_akz_title {
    font-size: 1.5vw;
    line-height: 1.5vw;
    padding-bottom: 0.5vw;
}

.demo_akz_txt_cont div {
    font-size: 1vw;
}

.demo_akz_txt_cont button {
    font-size: 1vw;
    padding: 0.5vw 0.5vw;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    text-align: center;
    background: transparent;
    color: #5d5d5d;
    line-height: 1vw;
    margin-top: 1vw;
    margin-right: 0.6vw;
}

.demo_akz_txt_cont button svg {
    width: 0.7vw;
    height: 0.7vw;
    stroke-width: 20px;
    margin-right: 0.5vw;
}

.demo_akz_txt_cont button:last-child {
    margin-right: 0;
}

.client_item {
    background: white;
    display: inline-block;
    border-radius: 5px;
    width: 18%;
    margin: 0 2% 1.5vw 0;
    padding-bottom: 1vw;
    vertical-align: top;
}

.client_item:nth-child(5n+5) {
    margin-right: 0;
}

.client_item p {
    color: #565b6d;
    font-size: 0.9vw;
    padding: 0 1.5vw;
}

.client_item .client_logo {
    display: block;
    margin: 1vw auto;
    max-width: 90%;
}

.client_item .client_title {
    padding: 1vw 1.2vw;
    border-top: 1px solid #ebebeb;
    color: #000000;
    font-size: 1.1vw;
}

.client_item .client_info {
    padding: 0 1.2vw 1vw;
}

.client_item .client_info p, .client_item .client_info a {
    color: #565b6d;
    font-size: 0.9vw;
    padding: 0;
}

.client_item .more_info {
    color: #555555;
    font-size: 0.8vw;
    display: inline-block;
    padding: 0.5vw 0.8vw;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    margin: 0 0 0 6%;
}

.client_item .money_style {
    font-family: 'pf_dindisplay_probold';
    padding-bottom: 1vw;
}

.selector {
    width: 1vw;
    height: 1vw;
    border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0.5vw;
    background: #c2c2c2;
}

.selector.active {
    background-image: url(../img/select_active.png);
    background-size: 0.6vw;
    background-repeat: no-repeat;
    background-position: center center;
}

.see_detail {
    margin: 0 0.5vw 0 1.1vw
}

.del_item svg {
    width: 0.7vw;
    height: 0.7vw;
    stroke-width: 20px;
    margin-right: 0.5vw;
}

#save_client {
    font-size: 1.4vw;
    color: white;
    display: block;
    text-transform: uppercase;
    padding: 0.5vw 0;
    width: 200px;
    border-radius: 50px;
    margin: 1.5vw auto 3.7vw;
}

.wrap_content {
    position: relative;
}

.manager_select_link {
    position: absolute;
    top: -1.4vw;
    color: white;
    display: block;
    text-transform: uppercase;
    padding: 0.5vw 1vw;
    border-radius: 50px;
    margin: 1vw auto;
    right: 0;
    font-size: 0.9vw;
}

/*manager settings*/
.manager_settings_box {
    background: white;
    border-radius: 5px;
    padding: 1.6vw 2vw;
    margin-bottom: 2vw;
    width: 35vw;
}

.manager_settings_line {
    padding-bottom: 1.1vw;
}

.manager_settings_line p {
    font-size: 1.1vw;
    color: #232323;
    width: 15vw;
    display: inline-block;
    vertical-align: middle;
}

.manager_settings_line input {
    color: #232323;
    font-size: 1.1vw;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 0.7vw 0.8vw;
    display: inline-block;
    vertical-align: middle;
    width: 18vw;
}

.manager_settings_box button {
    font-size: 1.4vw;
    color: white;
    display: block;
    text-transform: uppercase;
    padding: 0.5vw 0;
    width: 200px;
    border-radius: 50px;
    margin: 1vw auto;
}

.avatar_line {
}

.avatar_line img {
    width: 3.1vw;
    height: 3.1vw;
    vertical-align: middle;
}

.avatar_line input {
    width: 15.7vw;
    padding: 0;
    margin-left: 0.5vw;
    font-size: 0.8vw;
    border: 0;
    box-shadow: 0 0 0 0 white !important;
}

#promo_file_box {
    position: absolute;
    width: 17%;
    height: 2.3vw;
    right: 0;
    top: -2.8vw;
}

#promo_file_box input {
    position: absolute;
    width: 100%;
    height: 2.3vw;
    opacity: 0;
    top: 0;
    cursor: pointer;
}

#promo_file_box button {
    pointer-events: none;
    font-size: 0.9vw;
    color: white;
    display: block;
    text-transform: uppercase;
    padding: 0.5vw 1vw 0.5vw 2.1vw;
    border-radius: 50px;
    background-image: url(../img/cloud_ico.png);
    background-repeat: no-repeat;
    background-position: 0.6vw center;
    background-size: 1vw;
}

.white_fon {
    border-radius: 5px;
    background: white;
    position: relative;
}

#promo_table {
    padding: 0 1.5%;
}

#promo_table .table_head {
    color: #b5b5b5;
    text-transform: uppercase;
    font-size: 0.7vw;
    font-family: 'pf_dindisplay_probold';
    padding: 1vw 0 0.5vw;
}

#promo_table .row1 {
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    cursor: pointer;
}

#promo_table .row1 img {
    display: inline-block;
    vertical-align: middle;
    width: 2.3vw;
}

#promo_table .row1 p {
    display: inline-block;
    vertical-align: middle;
    color: #5d5d5d;
    margin: 0 0.3vw 0 1vw;
}

#promo_table .row1 span {
    display: inline-block;
    vertical-align: middle;
    font-family: 'pf_dindisplay_probold';
    background: #92c756;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 0.2vw 0.5vw;
    font-size: 0.6vw;
}

#promo_table .row2 {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
}

#promo_table .row3 {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
}

#promo_table .row4 {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
}

#promo_table .row4 a {
    border: 1px solid #d6d6d6;
    border-radius: 20px;
    padding: 0.4vw 1vw 0.4vw 0.8vw;
    font-size: 0.8vw;
    color: #555555;
}

#promo_table .row5 {
    display: inline-block;
    vertical-align: middle;
    width: 5%;
    text-align: center;
    height: 100%;
}

#promo_table .row6 {
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    text-align: center;
    /* height: 100%; */
}

#promo_table .row5:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}

#promo_table .row5 svg {
    width: 0.7vw;
    stroke-width: 20px;
    cursor: pointer;
    stroke: black;
    display: inline-block;
    vertical-align: middle;
}

.table_tr {
    height: 3.6vw;
    border-top: 2px solid #f2f2f2;
    font-size: 0.9vw;
}

#crm_pagination {
    text-align: center;
    padding: 1.9vw 0;
}

#crm_pagination a {
    color: black;
    font-size: 0.9vw;
    border-radius: 100px;
    display: inline-block;
    width: 2.2vw;
    height: 2.2vw;
    text-align: center;
}

#crm_pagination a span {
    display: inline-block;
    vertical-align: middle;
}

#crm_pagination a:after {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

#crm_pagination a.bg_color_th {
    color: white;
}

#crm_pagination a:hover {
    color: white;
}

.p_box {
    width: 1vw;
    height: 1vw;
    border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5vw 0 1vw;
    background: #dcdcdc;
}

.p_box.active {
    background-image: url(../img/select_active.png);
    background-size: 0.6vw;
    background-repeat: no-repeat;
    background-position: center center;
}

.sel_txt {
    font-size: 0.8vw;
}

.manager_title .inline_style {
    vertical-align: middle;
}

#promo_klients .manager_title {
}

#promo_button {
    text-align: center;
    padding-bottom: 3vw;
}

#promo_button #promo_save {
    font-size: 1.4vw;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.5vw 1vw;
    border-radius: 50px;
    margin-right: 1vw;
    vertical-align: top;;
}

#promo_button #promo_send_mail {
    font-size: 0.8vw;
    padding: 0.3vw 0.8vw;
    border-radius: 50px;
    border: 2px solid #c9c9c9;
    width: 14vw;
    background: transparent;
}

.back_to_orders {
    color: #a9a9a9;
    padding-bottom: 1vw;
    font-size: 0.8vw;
    display: block;
}

#manager_orders_l {
    width: 65%;
    color: #5d5d5d;
}

#manager_orders_l b {
    color: #0a0a0a;
    font-family: 'pf_dindisplay_probold';
}

#manager_orders_r {
    width: 32%;
    padding-left: 2.1%;
}

#order_head {
    position: relative;
    padding: 1.3vw 3%;
}

.order_title {
    font-size: 1.5vw;
    padding-bottom: 1.3vw;
}

.order_des {
    font-size: 0.9vw;
}

#manager_button_box {
    position: absolute;
    top: 1.3vw;
    right: 3%;
    text-align: right;
}

#manager_button_box .click_to_hide {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

#manager_button_box button {
    color: #565b6d;
    background: transparent;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    padding: 0.3vw 0.8vw;
    font-size: 0.8vw;
    display: inline-block;
    margin-bottom: 1vw;
}

#manager_button_box button.active {
    background: #e8e8e8;
}

.hid_box {
    position: absolute;
    background: white;
    box-shadow: 0 0 50px 10px rgba(0, 1, 1, 0.35);
    display: none;
    border-radius: 5px;
}

.hid_box:before {
    content: '';
    position: absolute;
    top: -0.5vw;
    left: 50%;
    width: 2vw;
    height: 2vw;
    transform: rotate(45deg);
    background: white;
    margin-left: -1vw;
}

#hid_status {
    color: #565b6d;
    font-size: 0.9vw;
    z-index: 200;
}

.hid_cd_status {
    border-bottom: 1px solid #e3e3e3;
    margin: 0 0.8vw;
    position: relative;
    overflow: hidden;
}

.hid_cd_status input {
    position: absolute;
    left: -1000px;
}

.hid_cd_status p {
    cursor: pointer;
    width: 6vw;
    text-align: left;
    padding: 0.7vw 0;
    font-size: 0.8vw;
}

.hid_cd_status:last-child {
    border: 0;
}

#hid_marker_form {
    width: 30vw;
    z-index: 2;
    text-align: center;
    padding: 0 2vw;
}

#calendar_title {
    font-size: 0.9vw;
    padding: 1.4vw 0;
    position: relative;
    z-index: 2;
}

#calendar2 {
    width: 100%;
    text-align: center;
    font-size: 1.2vw;
    color: #61676b;
}

#calendar2 .today {
    position: relative;
    /* text-align: center; */
}

#calendar2 td {
    text-align: center;
    position: relative;
}

#calendar2 thead tr:first-child td {
    text-align: center;
    padding-bottom: 1.7vw;
}

#calendar2 thead tr:first-child td:first-child {
    cursor: pointer;
}

#calendar2 thead tr:first-child td:last-child {
    cursor: pointer;
}

#calendar2 thead tr:last-child td {
    text-transform: uppercase;
    font-size: 0.9vw;
}

#calendar2 tbody td span {
    font-size: 0.9vw;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 50px;
    margin: 0vw 0;
    padding: 0.4vw 0;
    width: 2vw;
}

#calendar2 tbody tr:last-child {
    display: none;
}

#calendar2 .block:hover span {
    background: transparent !important;
    color: #61676b !important;
    border: 1px solid transparent !important;
}

#calendar2 .today, #calendar2 .work {
    cursor: pointer;
}

#calendar2 .today:hover, #calendar2 .work:hover {
    color: white;
}

#calendar2 .today span {
    border: 1px solid #c2c2c2;
    /* text-align: center; */
    /* margin-right: 0px; */
    padding-right: 1px;
}

#calendar2 .active span {
    color: white;
}

#calendar_legend {
    color: #6d6d6d;
    font-size: 0.7vw;
    text-align: left;
    padding: 1.5vw 0;
}

#calendar_legend span {
    display: inline-block;
    vertical-align: middle;
}

.legend_today {
    width: 1vw;
    height: 1vw;
    border: 1px solid #c2c2c2;
    border-radius: 50px;
    margin: 0 0.4vw 0 1.1vw;
}

.legend_active {
    width: 1vw;
    height: 1vw;
    border-radius: 50px;
    margin: 0 0.4vw 0 1vw;
}

#hid_marker_form button {
    font-size: 0.9vw;
    padding: 0.4vw 1vw;
}

#cart_item_table {
    padding: 0 3%;
    margin-bottom: 1vw;
}

#cart_item_head {
    font-family: 'pf_dindisplay_probold';
    text-transform: uppercase;
    color: #b5b5b5;
    font-size: 0.8vw;
}

#cart_item_table .row1 {
    width: 13%;
}

#cart_item_table .row2 {
    width: 35%;
}

#cart_item_table .row3 {
    width: 13%;
}

#cart_item_table .row4 {
    width: 13%;
}

#cart_item_table .row5 {
    width: 13%;
}

.cart_item_line {
    border-top: 2px solid #f0f0f0;
    height: 3.6vw;
}

.cart_item_line .inline_style {
    vertical-align: middle;
}

.cart_item_line .row1 {
    height: 2.6vw;
    width: 8% !important;
    margin-right: 5%;
    margin: 0.5vw 5% 0.5vw 0;
}

.cart_item_line .row2 {
    font-size: 0.9vw;
}

.cart_item_line .row3, .cart_item_line .row4 {
    font-size: 1.1vw;
}

.cart_item_line .row5 {
    font-size: 1.2vw;
    font-family: 'pf_dindisplay_probold';
}

#cart_item_footer {
    text-align: right;
    padding: 1.4vw 0px;
    font-family: 'pf_dindisplay_probold';
    font-size: 1.2vw;
}

.manager_order_doc_line {
    margin: 0 3%;
    padding: 1vw 0;
    border-top: 2px solid #f2f2f2;
}

.manager_order_doc_line:first-child {
    border-top: 0;
}

.manager_order_doc_line img {
    width: 3%;
    vertical-align: middle;
    margin-right: 3%;
}

.manager_order_doc_line p {
    color: #5d5d5d;
    font-size: 0.8vw;
    display: inline-block;
    vertical-align: middle;
}

.manager_order_doc_line .new {
    font-family: 'pf_dindisplay_probold';
    background: #92c756;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 0.2vw 0.5vw;
    font-size: 0.6vw;
    vertical-align: middle;
    margin-left: 2%;
}

.manager_order_doc_line a {
    font-size: 0.8vw;
    color: #555555;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    padding: 0.2vw 1.5%;
}

.manager_order_doc_line .inline_style {
    vertical-align: middle;
    width: 81%;
}

#manager_order_doc_view {
    margin-bottom: 1.5vw
}

#manager_order_file_load {
    position: relative;
    margin-left: 3%;
    margin: 1vw 3%;
    padding-bottom: 1vw;
    padding-top: 1vw;
}

#manager_order_file_load button {
    position: relative;
    pointer-events: none;
    color: #555555;
    background: transparent;
    padding: 0.3vw 0.6vw 0.3vw 2.1vw;
    font-size: 0.8vw;
    border-radius: 50px;
    background-image: url(../img/order_file_ico.png);
    background-repeat: no-repeat;
    background-position: 0.6vw center;
    background-size: 0.9vw;
    border: 1px solid #dedede;
}

#manager_order_file_load input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 10vw;
    height: 1.9vw;
    cursor: pointer;
}

.magaz_info_box {
    padding: 1.6vw 5.7% 1.1vw;
}

.magaz_info_box_title {
    font-size: 1.3vw;
    padding-bottom: 1vw;
    border-bottom: 1px solid #f0f0f0;
}

.magaz_info_box_contact_title {
    padding: 1.2vw 0;
    color: #000000;
    font-size: 1.1vw;
}

.magaz_info_box_contact_wrap {
    color: #565b6d;
    font-size: 1vw;
    padding-bottom: 1vw;
}

.magaz_info_dop_content {
    color: #8c909f;
    font-size: 0.8vw;
}

#crm_menu {
    color: #5d5d5d;
    font-size: 1vw;
    padding-bottom: 1.5vw;
}

#crm_menu li {
    padding-right: 1.6vw;
}

#crm_menu li a {
    display: block;
    position: relative;
    padding-bottom: 0.4vw;
}

#crm_menu li a:hover span {
    opacity: 1;
}

#crm_menu li a span {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    opacity: 0;
}

#crm_menu li a.active span {
    opacity: 1;
}

.orders_list_item {
    padding: 1.3vw 2%;
    width: 44.9%;
    min-height: 9vw;
    margin: 0 1.5% 2.1% 0;
}

.orders_list_item:nth-child(2n) {
    margin-right: 0;
}

.orders_list_item b {
    font-family: 'pf_dindisplay_probold';
}

.order_list_head {
    width: 80%;
}

.order_list_head .new {
    font-family: 'pf_dindisplay_probold';
    background: #92c756;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 0.2vw 0.5vw;
    font-size: 0.6vw;
    vertical-align: middle;
    margin-left: 2%;
}

.order_list_head .min_order {
    font-family: 'pf_dindisplay_probold';
    background-image: url(../img/icon-order.png);
    background-repeat: no-repeat;
    background-position: -0.6vw center;
    background-size: 2.8vw;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 0.5vw 0.9vw;
    font-size: 0.6vw;
    vertical-align: middle;
    margin-left: 2%;
}

.order_list_head .min_order:hover {
    cursor: pointer;
}

.order_list_buttons {
    position: absolute;
    top: 1.5vw;
    right: 3%;
    text-align: right;
}

.order_list_buttons a {
    border-radius: 50px;
    border: 1px solid #e3e3e3;
    font-size: 0.8vw;
    padding: 0.3vw 0.8vw;
    display: inline-block;
    margin-bottom: 0.9vw;
}

.order_list_buttons .send_order_to_work {
    color: white;
    background: #92c756;
    border: 0;
}

#manager_documents_sort {
    padding-bottom: 1.8vw;
}

#manager_documents_sort p {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1vw;
    color: #5d5d5d;
}

#manager_documents_sort form {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.8vw;
    position: relative;
}

#manager_documents_sort select {
    border: 1px solid #898989;
    outline: none;
    font-size: 0.9vw;
    background: #f7f7f7;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.7vw 2vw 0.7vw 1vw;
}

#manager_documents_sort form:after {
    content: '';
    background: url(../img/select_ico.png) no-repeat;
    width: 0.7vw;
    height: 0.4vw;
    display: block;
    background-size: 0.6vw;
    top: 50%;
    right: 5%;
    pointer-events: none;
    position: absolute;
}

.manager_views_file {
    position: relative;
    padding: 0 1.7%;
}

.manager_views_file .row1 {
    width: 35%;
}

.manager_views_file .row2 {
    width: 19%;
}

.manager_views_file .row3 {
    width: 9%;
}

.manager_views_file .row4 {
    width: 9%;
}

.manager_views_file .row5 {
    width: 9%;
}

.manager_views_file .row6 {
    width: 10%;
}

.manager_views_file .row7 {
    width: 7%;
}

.manager_views_file .row7 svg {
    width: 0.7vw;
    stroke-width: 20px;
    cursor: pointer;
    stroke: #000;
    display: inline-block;
    vertical-align: middle;
}

.manager_views_file .row7:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}

.manager_view_file_head {
    color: #b5b5b5;
    text-transform: uppercase;
    font-size: 0.7vw;
    font-family: 'pf_dindisplay_probold';
    padding: 1vw 0 0.5vw;
}

.manager_view_file_body {
}

.manager_view_file_line {
    font-size: 0.9vw;
    padding: 0.8vw 0;
    border-top: 1px solid #f2f2f2;
}

.manager_view_file_line .inline_style {
    vertical-align: middle;
}

.manager_view_file_line .row1 {
    color: #5d5d5d;
}

.manager_view_file_line .row1 img {
    width: 2vw;
}

.manager_view_file_line .row1 span {
    display: inline-block;
    vertical-align: middle;
    font-family: 'pf_dindisplay_probold';
    background: #92c756;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 0.2vw 0.5vw;
    font-size: 0.6vw;
}

.manager_view_file_line .row1 p {
    margin: 0 0.5vw 0 1vw;
    width: 18vw;
}

.manager_view_file_line .row6 a {
    border: 1px solid #d6d6d6;
    border-radius: 20px;
    padding: 0.4vw 1vw 0.4vw 0.8vw;
    font-size: 0.8vw;
    color: #555;
}

#manager_documents_upload {
    position: absolute;
    width: 16%;
    height: 2.3vw;
    right: 0;
    top: -4vw;
    overflow: hidden;
}

#manager_documents_upload input {
    position: absolute;
    width: 22.5vw;
    height: 2.1vw;
    opacity: 0;
    top: 0;
    cursor: pointer;
    left: -10vw;
}

#manager_documents_upload button {
    pointer-events: none;
    font-size: 0.9vw;
    color: white;
    display: block;
    text-transform: uppercase;
    padding: 0.5vw 1vw 0.5vw 2.1vw;
    border-radius: 50px;
    background-image: url(../img/cloud_ico.png);
    background-repeat: no-repeat;
    background-position: 0.6vw center;
    background-size: 1vw;
}

.manager_finder_box {
    position: relative;
}

.manager_finder_box form {
    position: absolute;
    top: -1vw;
    right: 0;
}

.manager_finder_box input {
    background: #FFF url(../img/finder_ico.png) no-repeat 0.7vw center;
    border-radius: 50px;
    color: #9e9e9e;
    padding: 0.5vw 1vw 0.5vw 2vw;
    font-size: 0.9vw;
    width: 17vw;
    border: 2px solid #e6e6e6;
    background-size: 0.7vw;
}

.manager_clients_box .client_item {
}

.manager_clients_box .client_item p {
}

.manager_clients_box .client_item .client_logo {
}

.manager_clients_box .client_item .client_title {
}

.manager_clients_box .client_item .client_info {
}

.manager_clients_box .client_item .client_info p, .client_item .client_info a {
    color: #565b6d;
    font-size: 0.9vw;
    padding: 0;
}

.manager_clients_box .client_item .more_info {
    padding: 0.5vw 0.8vw;
    border-radius: 30px;
    margin: 1vw 0.2vw 1vw 1vw;
}

.manager_clients_box .client_item .new_order {
    color: #555;
    font-size: 0.8vw;
    display: inline-block;
    padding: 0.5vw 0.8vw;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    position: relative;
}

#manager_special_klient .client_item .new_order {
    color: #555;
    font-size: 0.8vw;
    display: inline-block;
    padding: 0.5vw 0.8vw;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    position: relative;
}

.manager_clients_box .client_item .new_order span {
    position: absolute;
    top: -0.8vw;
    right: -0.4vw;
    border-radius: 100px;
    background: #92c756;
    color: white;
    font-family: 'pf_dindisplay_probold';
    display: block;
    width: 1.4vw;
    height: 1.4vw;
    text-align: center;
    line-height: 1.6vw;
    font-size: 0.6vw;
}

#manager_special_klient .client_item .new_order span {
    position: absolute;
    top: -0.8vw;
    right: -0.4vw;
    border-radius: 100px;
    background: #92c756;
    color: white;
    font-family: 'pf_dindisplay_probold';
    display: block;
    width: 1.4vw;
    height: 1.4vw;
    text-align: center;
    line-height: 1.6vw;
    font-size: 0.6vw;
}

.client_info_line {
    padding: 2%;
    margin-bottom: 2.5vw;
}

.client_info_line .inline_style {
    vertical-align: middle;
}

.client_info_line .img_cont {
    width: 15%;
    text-align: center;
    margin-right: 2%;
}

.client_info_line .img_cont img {
    width: 100%;
}

.client_info_line .title {
    width: 45%;
    color: #5d5d5d;
    font-size: 1.4vw;
}

.client_info_line .link_box {
    width: 38%;
    text-align: right;
    color: #565b6d;
}

.client_info_line .show_client_cart {
    font-size: 0.9vw;
    padding: 0.3vw 0.8vw;
    border: 1px solid #d6d6d6;
    border-radius: 50px;;
}

.client_info_line .cd_client {
    font-size: 0.8vw;
    padding: 0.2vw 0.6vw;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
}

.client_info_line .short_line {
    font-size: 0.8vw;
    text-align: left;
    padding: 0 3%;
    max-width: 32%;
}

.manager_box_row .inline_style {
    margin-right: 1%;
    width: 49%;
}

.manager_box_row .inline_style:last-child {
    margin-right: 0;
}

.manager_box_row .white_fon {
    padding: 4%;
}

.manager_box_row .order_title {
    font-size: 1.1vw;
}

.manager_box_row .order_title .s_a {
    margin-left: 0.8vw;
}

.manager_box_row b {
    font-family: 'pf_dindisplay_probold';
}

.s_a {
    font-size: 0.8vw;
    padding: 0.2vw 0.6vw;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
}

.link_in_page_order {
    padding: 0.3vw 0.8vw;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    font-size: 0.9vw;
    margin-top: 1.3vw;
    display: inline-block;
    margin-right: 0.5vw;
}

.manager_client_page_order {
    padding: 1.3vw 0;
    border-bottom: 1px solid #d6d6d6;
}

.manager_client_page_order:first-child {
    padding-top: 0;
}

.to_work {
    color: white;
    border: 1px solid transparent !important;
    background: #92c756;
}

.show_more_orders {
    display: block;
    text-align: center;
    font-size: 0.9vw;
    color: #a3a3a3;
    padding-top: 1vw;
}

.manager_box_row {
    padding-bottom: 1.6vw;
}

.manager_file_view {
    border-top: 1px solid #d6d6d6;
    padding: 1vw 0;
}

.manager_file_view:first-child {
    border: 0;
}

.manager_file_view img {
    width: 5.3%;
    margin-right: 1.7%;
}

.manager_file_view p {
    color: #5d5d5d;
    font-size: 0.8vw;
    width: 78%;
}

.manager_file_view p span {
    color: white;
    background: #92c756;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'pf_dindisplay_probold';
    font-size: 0.6vw;
    padding: 0.3vw 0.4vw 0.2vw;
    border-radius: 50px;
    line-height: 0.6vw;
    margin-left: 0.6vw;
    vertical-align: middle;
}

.manager_file_view .d_inline {
    display: inline-block;
    vertical-align: middle;
}

.manager_all_file_in {
    position: relative;
    display: inline-block;
    width: 29%;
    overflow: hidden;
    margin-left: 0.6vw;
    height: 1.5vw;
    vertical-align: middle;
}

.manager_all_file_in input {
    cursor: pointer;
    width: 500px;
    position: absolute;
    left: -200px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    height: 1.5vw;
}

.manager_all_file_in a {
    position: relative;
    pointer-events: none;
    padding-left: 2vw;
    background-image: url(../img/order_file_ico.png);
    background-repeat: no-repeat;
    background-position: 0.6vw center;
    background-size: 0.9vw;
    display: inline-block;
}

.manager_file_link {
    padding-top: 1.5vw;
}

.manager_file_link a {
    vertical-align: middle;
}

.hist_order_cl_page {
    color: #5d5d5d;
    font-size: 0.9vw;
    padding: 1.1vw 0;
    border-top: 1px solid #d6d6d6;
}

.hist_order_cl_page:first-child {
    border-top: 0;
}

.hist_order_cl_page b {
    color: #0a0a0a;
}

.hist_order_cl_page .hist_l {
    display: inline-block;
    vertical-align: middle;
    width: 81%;
}

.hist_order_cl_page .hist_r {
    display: inline-block;
    vertical-align: middle;
}

.shop_list_cl_page .hist_l {
}

.shop_list_cl_page {
    padding: 1.3vw 0;
}

.cl_page_top_align {
    margin-top: 1.3vw;
    display: inline-block;
}

.discont_line {
    padding: 2%;
    color: #5d5d5d;
    margin-bottom: 2.3vw;
}

.discont_line p {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4vw;
}

.discont_line p:first-child {
    margin-right: 1vw;
}

.discont_line p:last-child {
    float: right;
}

.discont_line a {
    display: inline-block;
    vertical-align: middle;
}

.w_c {
    padding-bottom: 0.8vw;
}

.title_in_lt {
    font-size: 1.5vw;
    text-align: left;
    padding-bottom: 1vw;
}

.akz_content_lt {
    text-align: left;
    font-size: 1vw;
}

.akz_content_lt p {
    padding-bottom: 1vw;
}

.akz_content_lt img {
    display: block;
    margin: 1vw auto;
    max-width: 100%;
}

.add_from_lt {
    display: inline-block;
    font-size: 0.9vw !important;
    padding: 0.5vw 0 !important;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    width: 6vw;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    color: #5d5d5d;
    margin-left: 0.3vw;
    cursor: pointer;
}

.manager_catalog_all {
    text-align: left;
}

.manager_catalog_all input {
    background: #FFF url(../img/finder_ico.png) no-repeat 0.7vw center;
    border-radius: 50px;
    color: #9e9e9e;
    padding: 0.5vw 1vw 0.5vw 2vw;
    font-size: 0.9vw;
    width: 20vw;
    border: 2px solid #e6e6e6;
    background-size: 0.7vw;
    margin-bottom: 1vw;
}

.oblom {
    padding: 2vw 0;
}

#save_client_page {
    font-size: 1.4vw;
    color: #FFF;
    display: block;
    text-transform: uppercase;
    padding: 0.5vw 0;
    width: 200px;
    border-radius: 50px;
    margin: 1.5vw auto 3.7vw;
}

#discont_table {
    width: 35vw;
    padding: 1vw 1.5vw;
}

#discont_table .row1 {
    width: 30%;
    display: inline-block;
}

#discont_table .row2 {
    width: 30%;
    display: inline-block;
}

#discont_table .row3 {
    width: 30%;
    display: inline-block;
}

#discont_table .row1 input {
}

#discont_table .row2 input {
}

#discont_table input {
    font-size: 1vw;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    width: 90%;
    padding: 0.3vw 3%;
}

.discont_form_line {
    padding: 0.5vw 0;
}

.del_line {
    margin-left: 1vw;
    font-size: 0.8vw;
    padding: 0.2vw 0.5vw;
    border: 1px solid #c2c2c2;
    border-radius: 50px;
    cursor: pointer;
}

#add_disc_line {
    display: block;
    font-size: 1vw;
    border: 1px solid #c2c2c2;
    background: white;
    padding: 0.3vw 1vw;
    border-radius: 50px;
}

#save_disc {
    color: #FFF;
    font-size: 1vw;
    text-transform: uppercase;
    padding: 0.7vw 0.8vw 0.5vw;
    border-radius: 50px;
    display: block;
    margin: 1vw auto;
}

.icon-format {
    display: inline-block;
    vertical-align: middle;
    background-size: 11vw;
    width: 2vw;
    height: 2.6vw;
    background-image: url(/html_source/img/pdf-jpg-word-icons2.jpg);
}

.icon-format.order_icon {
    margin-right: 1.5%;
}

.inline_style.order_icons {
    margin-right: 0.2vw;
}

.icon-format-none.order_icon_none {
    margin-right: 1.5%;
    width: 2vw;
}

.icon-format-none {
    display: inline-block;
    vertical-align: middle;
    background-size: 3vw;
    width: 2.3vw;
    height: 2.6vw;
    background-image: url(/html_source/img/attachment-icon.jpg);
}

.delete_item {
    font-family: 'pf_dindisplay_probold';
    text-transform: uppercase;
    color: #b5b5b5;
    font-size: 0.8vw;
}

.delete_item:hover {
    cursor: pointer;
}

.log_out_castom_manager {
    background: url(../img/exit_man_adm.png) no-repeat 0.1vw center;
    margin-left: 0.15vw;
    background-size: 2.3vw;
    width: 2.5vw;
    /* margin-bottom: 7vw; */
    font-size: 0.9vw;
    color: #2A2A2A;
    float: right;
    /* margin-right: 2.5vw; */
    /* width: calc(100% - 4.8vw); */
    /* border-top: 1px solid #eaebed; */
    padding: 1vw 0 1vw 1.6vw;
    /* vertical-align: middle; */
    margin-top: 0vw;
}

.log_out_castom_manager:hover {
    cursor: pointer;
}

#manager_dop_info_set a {
    color: white;
    padding: 0.8vw 1.6vw;
    border-radius: 30px;
    font-size: 1vw;
}
#select_new_manager{
    border: 1px solid #dedede;
    outline: none;
    font-size: 0.9vw;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.7vw 2% 0.7vw;
    cursor: pointer;
    width: calc(100% - 37%);
    background: white url(../img/select_ico.png) no-repeat;
    background-position: 94% center;
    background-size: 0.7vw;
}
#select_manager span {
    color: #565b6d;
}