#align_zone {
    padding: 1.5vw 2% 0;
}

#client_top_bar #cart_info {
    position: absolute;
    top: 1.6vw;
    right: 1.6vw;
    color: white;
}
.icon-format {
    display: inline-block;
    vertical-align: middle;
    background-size: 11vw;
    width: 2.2vw;
    height: 2.6vw;
    background-image: url(/html_source/img/pdf-jpg-word-icons2.jpg);
}

.icon-format-none {
    display: inline-block;
    vertical-align: middle;
    background-size: 3vw;
    width: 2.3vw;
    height: 2.6vw;
    background-image: url(/html_source/img/attachment-icon.jpg);
}
#client_top_bar #cart_info p {
}

#client_top_bar #cart_info p:first-child {
    padding-bottom: 0;
}

#client_top_bar #cart_info p:last-child {
    padding-top: 0;
}

#client_top_bar #cart_info p svg {
    width: 0.4vw;
    fill: white;
    display: inline-block;
    margin-left: 5px;
}

#client_top_bar #cart_ico {
    width: 3.3vw;
    height: 3vw;
    background: #0a0a0b url(../img/cart_ico.png) no-repeat center center;
    margin-right: 1px;
    background-size: 1.5vw;
    border-radius: 5px 0 0 5px;
}

#client_top_bar #cart_info_content {
    text-align: left;
    background: #0a0a0b;
    /* border-radius: 0 5px 5px 0; */
    font-size: 0.7vw;
    height: 3vw;
    padding: 0 1vw;
}

#client_top_bar #cart_info_content:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}

#client_top_bar #align_cart_info {
    display: inline-block;
    vertical-align: middle;
}

#client_top_bar {
    color: #565b6d;
}

#cleint_manager_info {
    padding-top: 0;
    height: 6.8vw;
}

#cleint_manager_info .img_fon {
    border-radius: 100px;
    width: 3.7vw;
    height: 3.7vw;
}

#cleint_manager_info .fio_date {
    font-size: 1vw;
    margin-left: 0.6vw;
    width: 11vw;
}

#cleint_manager_info .fio_date p:first-child {
    font-family: 'pf_dindisplay_probold';
}

#cleint_manager_info .manager_dop_info {
    font-size: 0.8vw;
}

#cleint_manager_info .manager_dop_info a {
    color: #555555;
    font-size: 0.7vw;
    border: 1px solid #d6d6d6;
    padding: 0 0.5vw;
    border-radius: 50px;
    margin-top: 0.5vw;
    display: inline-block;
}

.client_title {
    font-size: 1.4vw;
    color: #5d5d5d;
}

.goods_item {
    display: inline-block;
    vertical-align: top;
    background: white;
    width: 18%;
    margin: 1%;
    padding-bottom: 1.5vw;
}

.goods_item:nth-child(5n) {
}

.goods_item .img_fon {
    height: 11.1vw;
    border-bottom: 1px solid #f2f2f2;
}

.goods_item p {
    font-size: 1vw;
    color: #565b6d;
    padding: 1.4vw 1.6vw 1vw;
}

.goods_item .price {
    font-size: 1vw;
    margin: 0 0.9vw 0 1.5vw;
    font-family: 'pf_dindisplay_probold';
    padding: 0.6vw 0;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    width: 5.5vw;
    text-align: center;
}

.goods_item button {
    font-size: 0.8vw;
    color: white;
    text-transform: uppercase;
    padding: 0.7vw 0;
    border: 1px solid transparent;
    border-radius: 50px;
    width: 5.6vw;
}

#special_client_sl {
    padding: 1.6vw 0 2vw;
    position: relative;
}

#special_client_sl .slidesjs-container, #special_client_sl .slidesjs-control {
    height: 100%;
}

#special_client_sl .slidesjs-container {
}

#add_to_cart_wrap {
    text-align: center;
}

#add_to_cart_wrap p {
    font-size: 1.3vw;
    color: #565b6d;
    padding-bottom: 0.5vw;
}

#add_to_cart_wrap input {
    font-size: 1vw;
    color: #898989;
    font-family: 'pf_dindisplay_proregular';
    padding: 0.7vw 0.8vw;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    margin: 0 0 0.7vw;
    width: 10vw;
}

#add_to_cart_wrap button {
    font-size: 0.8vw;
    color: white;
    text-transform: uppercase;
    padding: 0.7vw 0;
    border: 1px solid transparent;
    border-radius: 50px;
    width: 5.6vw;
    display: block;
    margin: 0 auto;
}

#special_client_sl .slidesjs-navigation {
    position: absolute;
    top: 10vw;
    border: 1px solid #d6d6d6;
    z-index: 100;
    background: white;
    text-align: center;
    display: block;
}

#special_client_sl .slidesjs-navigation svg {
    width: 0.5vw;
    height: auto;
    stroke: #929292;
    stroke-width: 20px;
    padding: 0.5vw 0.5vw 0.2vw;;
}

#special_client_sl .slidesjs-previous {
}

#special_client_sl .slidesjs-previous svg {
}

#special_client_sl .slidesjs-next {
    right: 1px;
    transform: rotate(180deg);
}

#special_client_sl .slidesjs-next svg {
    right: 0;
    margin-left: 0vw;
}

.akz_special_item {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    background: white;
    margin-right: 2%;
    margin-bottom: 2%;
    height: 19vw;
    border-radius: 7px;
}

.akz_special_item:nth-child(2n) {
    margin-right: 0;
}

.akz_special_item .img_fon {
    height: 100%;
    width: 55%;
    margin: 0 2.5%;
    display: inline-block;
    vertical-align: middle;
}

.demo_akz_txt_cont {
    display: inline-block;
    vertical-align: middle;
    width: 38%;
    color: #5d5d5d;
}

.demo_akz_title {
    font-size: 1.5vw;
    line-height: 1.5vw;
    padding-bottom: 0.5vw;
}

.demo_akz_txt_cont div {
    font-size: 1vw;
}

.demo_akz_txt_cont a {
    border: 1px solid #d6d6d6;
    padding: 0.1vw 1vw;
    border-radius: 50px;
    font-size: 0.7vw;
    margin-top: 0.5vw;
    display: inline-block;
}

.manager_settings_box .manager_settings_line {
    padding-bottom: 1vw;
}

.manager_settings_box .manager_settings_line p {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1vw;
    width: 40%;
}

.manager_settings_box .manager_settings_line input {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-size: 1vw;
    padding: 0.7vw 0.8vw;
    width: 19vw;
}

.manager_settings_box button {
    font-size: 1.1vw;
    color: #FFF;
    display: block;
    text-transform: uppercase;
    padding: 0.5vw 0;
    width: 200px;
    border-radius: 50px;
    margin: 1vw auto;
}

#clent_otz {
    width: 36vw;
    padding: 2.4vw 1.8vw;
    background: white;
    border-radius: 5px;
    margin-top: 1.6vw;
    color: #232323;
    margin-bottom: 3vw;
}

#clent_otz .client_otz_desc {
    font-size: 0.9vw;
    padding-bottom: 2.6vw;
}

#clent_otz .form_line {
    padding-bottom: 1vw;
}

#clent_otz .form_line p {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1vw;
    width: 15vw;
}

#clent_otz .form_line input {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-size: 1vw;
    padding: 0.7vw 0.8vw;
    width: 19vw;
}

#clent_otz .form_line textarea {
    display: inline-block;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-size: 1vw;
    padding: 0.7vw 0.8vw;
    width: 19vw;
    resize: none;
    height: 4vw;
    vertical-align: top;
}

#clent_otz button {
    font-size: 1.1vw;
    color: #FFF;
    display: block;
    text-transform: uppercase;
    padding: 0.5vw 0;
    width: 200px;
    border-radius: 50px;
    margin: 1vw auto;
}

#crm_menu {
    color: #5d5d5d;
    font-size: 1vw;
    padding-bottom: 3.5vw;
}

#crm_menu li {
    padding-right: 1.6vw;
}

#crm_menu li a {
    display: block;
    position: relative;
    padding-bottom: 0.4vw;
}

#crm_menu li a:hover span {
    opacity: 1;
}

#crm_menu li a span {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    opacity: 0;
}

#crm_menu li a.active span {
    opacity: 1;
}

.white_fon {
    background: white;
    border-radius: 5px;
}

.client_shop_form {
    width: 50%;
    padding-bottom: 2.5vw;
    margin-bottom: 1.7vw;
}

.client_shop_form_wrap {
    padding: 1.9vw 5.7% 1.3vw;
    border-bottom: 1px solid #f9f9f9;
}

.client_shop_form_wrap input {
    display: inline-block;
    vertical-align: top;
    color: #898989;
    font-size: 0.9vw;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 0.5vw 3%;
    width: 100%;
    margin-bottom: 0.5vw;
}

.client_shop_form_wrap:nth-child(2) {
    border: 0;
}

.client_shop_form_wrap:nth-child(2) p {
    color: #232323;
    font-size: 1.1vw;
    padding-bottom: 0.6vw;
}

.client_shop_form_wrap:nth-child(2) .inline_style:nth-child(2) {
    width: 43%;
    padding-right: 7%;
}

.client_shop_form_wrap:nth-child(2) .inline_style:last-child {
    width: 46%;
}

.client_shop_input_line {
    padding-bottom: 1.1vw;
}

.client_shop_input_line p {
    display: inline-block;
    vertical-align: top;
    font-size: 1.1vw;
    color: #232323;
    width: 43%;
}

.client_shop_input_line input {
    width: 50%;
    margin: 0;
}

.client_shop_form_wrap textarea {
    display: inline-block;
    vertical-align: top;
    color: #898989;
    font-size: 0.9vw;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 0.5vw 3%;
    width: 100%;
    resize: none;
    height: 6.7vw;
}

.client_shop_form button {
    font-size: 1.1vw;
    text-transform: uppercase;
    color: white;
    padding: 0.5vw 2.9vw;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
}

.client_shops_list_item {
    padding: 1.8vw 2.1%;
    width: 44.8%;
    margin: 0 1% 2% 0;
}

.client_shops_list_item:nth-child(2n) {
    margin-right: 0;
}

.client_shops_title {
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 1vw;
}

.client_shops_title a {
    padding: 0.2vw 5%;
}

.client_shops_title .inline_style:first-child {
    vertical-align: middle;
    width: 70%;
    font-size: 1.2vw;
}

.client_shops_title .inline_style:last-child {
    width: 30%;
}

.s_a {
    /* margin-left: -7vw; */
    font-size: 0.8vw;
    padding: 0.2vw 0.6vw;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    display: inline-block;
    /* margin-top: 10px; */
}

.client_shop_desc_title {
    padding: 1.2vw 0;
    color: #000000;
    font-size: 1.2vw;
}

.client_shop_desc {
    color: #565b6d;
    font-size: 0.9vw;
}

.client_shop_s_content {
    font-size: 0.8vw;
    color: #8c909f;
    padding: 1vw 0;
}

.b_a {
    font-size: 0.9vw;
    color: #565b6d;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    padding: 0.6vw 1.4vw;
    margin-right: 0.4vw;
}

.client_shop_link a {
    position: relative;
}

.client_shop_link span {
    position: absolute;
    top: -0.5vw;
    right: -0.5vw;
    color: white;
    width: 1.2vw;
    font-family: 'pf_dindisplay_probold';
    font-size: 0.6vw;
    background: #92c756;
    border-radius: 100px;
    text-align: center;
    padding: 0.2vw 0;
    display: block;
}

.discount_desc {
    margin-top: 1.5vw;
    width: 45%;
    padding: 2.8%;
    margin-bottom: 2vw;
}

.discount_part1 {
    color: #232323;
    font-size: 0.9vw;
}

.discount_part1 p {
    padding-bottom: 1.5vw;
}

.discount_part2 {
}

.discount_line {
    color: #5d5d5d;
    font-size: 1vw;
    padding: 0.7vw 0;
    border-top: 1px solid #f2f2f2;
}

.discount_line p {
}

.discount_line:first-child {
    color: #b5b5b5;
    text-transform: uppercase;
    font-family: 'pf_dindisplay_probold';
    font-size: 0.8vw;
    border: 0;
    padding: 0 0 0.4vw;
}

.discount_line:first-child p {
}

.discount_line div {
    display: inline-block;
    vertical-align: middle;
    width: 49.5%;
}

.client_views_file {
    position: relative;
    padding: 0 1.7%;
    margin-top: 8.5%;
}

.client_views_file .row1 {
    width: 56%;
    cursor: pointer;
}

.client_views_file .row2 {
    width: 19%;
}

.client_views_file .row3 {
    width: 10%;
}

.client_views_file .row4 {
    width: 12%;
}

.client_views_file .row5 {
    width: 12%;
}

.client_views_file .row6 {
    width: 8%;
}

.client_view_file_head {
    color: #b5b5b5;
    text-transform: uppercase;
    font-size: 0.7vw;
    font-family: 'pf_dindisplay_probold';
    padding: 1vw 0 0.5vw;
}

.client_view_file_body {
}

.client_view_file_line {
    font-size: 0.9vw;
    padding: 0.8vw 0;
    border-top: 1px solid #f2f2f2;
}

.client_view_file_line .inline_style {
    vertical-align: middle;
}

.client_view_file_line .row1 {
    color: #5d5d5d;
}

.client_view_file_line .row1 img {
    width: 2vw;
}

.client_view_file_line .row1 span {
    display: inline-block;
    vertical-align: middle;
    font-family: 'pf_dindisplay_probold';
    background: #92c756;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 0.2vw 0.5vw;
    font-size: 0.6vw;
}

.client_view_file_line .row1 p {
    margin: 0 0.5vw 0 1vw;
}

.client_view_file_line .row6 a {
    border: 1px solid #d6d6d6;
    border-radius: 20px;
    padding: 0.4vw 1vw 0.4vw 0.8vw;
    font-size: 0.8vw;
    color: #555;
}

#crm_pagination {
    text-align: center;
    padding: 1.9vw 0;
}

#crm_pagination a {
    color: black;
    font-size: 0.9vw;
    border-radius: 100px;
    display: inline-block;
    width: 2.2vw;
    height: 2.2vw;
    text-align: center;
}

#crm_pagination a span {
    display: inline-block;
    vertical-align: middle;
}

#crm_pagination a:after {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

#crm_pagination a.bg_color_th {
    color: white;
}

#crm_pagination a.hidden {
    display: none;
}

#crm_pagination a:hover {
    color: white;
}

#client_documents_upload {
    position: absolute;
    width: 12.7vw;
    height: 2.1vw;
    right: 0;
    top: -4vw;
}

#client_documents_upload input {
    position: absolute;
    width: 12.7vw;
    height: 2.1vw;
    opacity: 0;
    top: 0;
    cursor: pointer;
}

#client_documents_upload button {
    pointer-events: none;
    font-size: 0.9vw;
    color: white;
    display: block;
    text-transform: uppercase;
    padding: 0.5vw 1vw 0.5vw 2.1vw;
    border-radius: 50px;
    background-image: url(../img/cloud_ico.png);
    background-repeat: no-repeat;
    background-position: 0.6vw center;
    background-size: 1vw;
}

.client_padd {
    padding-bottom: 1.5vw;
}

.orders_list_item {
    padding: 1.3vw 2%;
    width: 44.9%;
    min-height: 9vw;
    margin: 0 2.1% 2.1% 0;
    position: relative;
}

.orders_list_item:nth-child(2n) {
    margin-right: 0;
}

.orders_list_item b {
    font-family: 'pf_dindisplay_probold';
    font-weight: normal;
}

.order_list_head {
    width: 80%;
}

.order_list_head .new {
    font-family: 'pf_dindisplay_probold';
    background: #92c756;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 0.2vw 0.5vw;
    font-size: 0.6vw;
    vertical-align: middle;
    margin-left: 2%;
}

.order_list_buttons {
    position: absolute;
    top: 1.5vw;
    right: 3%;
    text-align: right;
}

.order_list_buttons a {
    border-radius: 50px;
    border: 1px solid #e3e3e3;
    font-size: 0.8vw;
    padding: 0.3vw 0.8vw;
    display: inline-block;
    margin-bottom: 0.9vw;
}

.order_list_buttons .send_order_to_work {
    color: white;
    background: #92c756;
    border: 0;
}

.order_title {
    font-size: 1.5vw;
    padding-bottom: 1.3vw;
}

.order_des {
    font-size: 0.9vw;
}

#order_head {
    position: relative;
    padding: 1.3vw 3%;
}

.order_title {
    font-size: 1.5vw;
    padding-bottom: 1.3vw;
}

.order_des {
    font-size: 0.9vw;
}

#manager_button_box {
    position: absolute;
    top: 1.3vw;
    right: 3%;
    text-align: right;
    /* margin-left: -17%; */
}

#manager_button_box button {
    color: #565b6d;
    background: transparent;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    padding: 0.3vw 0.8vw;
    font-size: 0.8vw;
    display: inline-block;
    margin-bottom: 1vw;
}

#manager_button_box button.active {
    background: #e8e8e8;
}

.hid_box {
    position: absolute;
    background: white;
    box-shadow: 0 0 50px 10px rgba(0, 1, 1, 0.35);
    display: none;
    border-radius: 5px;
}

.hid_box:before {
    content: '';
    position: absolute;
    top: -0.5vw;
    left: 50%;
    width: 2vw;
    height: 2vw;
    transform: rotate(45deg);
    background: white;
    margin-left: -1vw;
}

#hid_status {
    color: #565b6d;
    font-size: 0.9vw;
}

.hid_cd_status {
    border-bottom: 1px solid #e3e3e3;
    margin: 0 0.8vw;
    position: relative;
    overflow: hidden;
}

.hid_cd_status input {
    position: absolute;
    left: -1000px;
}

.hid_cd_status p {
    cursor: pointer;
    width: 6vw;
    text-align: left;
    padding: 0.7vw 0;
    font-size: 0.8vw;
}

.hid_cd_status:last-child {
    border: 0;
}

#hid_marker_form {
    width: 20vw;
    z-index: 2;
    text-align: center;
    padding: 0 2vw;
}

#calendar_title {
    font-size: 0.9vw;
    padding: 1.4vw 0;
    position: relative;
    z-index: 2;
}

#calendar2 {
    width: 100%;
    text-align: center;
    font-size: 1.2vw;
    color: #61676b;
}

#calendar2 .today {
    position: relative;
}

#calendar2 td {
    position: relative;
}

#calendar2 thead tr:first-child td {
    padding-bottom: 1.7vw;
}

#calendar2 thead tr:first-child td:first-child {
    cursor: pointer;
}

#calendar2 thead tr:first-child td:last-child {
    cursor: pointer;
}

#calendar2 thead tr:last-child td {
    text-transform: uppercase;
    font-size: 0.9vw;
}

#calendar2 tbody td span {
    font-size: 0.9vw;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 50px;
    margin: 0vw 0;
    padding: 0.4vw 0;
    width: 2vw;
}

#calendar2 tbody tr:last-child {
    display: none;
}

#calendar2 .block:hover span {
    background: transparent !important;
    color: #61676b !important;
    border: 1px solid transparent !important;
}

#calendar2 .today, #calendar2 .work {
    cursor: pointer;
}

#calendar2 .today:hover, #calendar2 .work:hover {
    color: white;
}

#calendar2 .today span {
    border: 1px solid #c2c2c2;
}

#calendar2 .active span {
    color: white;
}

#calendar_legend {
    color: #6d6d6d;
    font-size: 0.7vw;
    text-align: left;
    padding: 1.5vw 0;
}

#calendar_legend span {
    display: inline-block;
    vertical-align: middle;
}

.legend_today {
    width: 1vw;
    height: 1vw;
    border: 1px solid #c2c2c2;
    border-radius: 50px;
    margin: 0 0.4vw 0 1.1vw;
}

.legend_active {
    width: 1vw;
    height: 1vw;
    border-radius: 50px;
    margin: 0 0.4vw 0 1vw;
}

#hid_marker_form button {
    font-size: 0.9vw;
    padding: 0.4vw 1vw;
}

#cart_item_table {
    padding: 0 3%;
    margin-bottom: 1vw;
}

#cart_item_head {
    font-family: 'pf_dindisplay_probold';
    text-transform: uppercase;
    color: #b5b5b5;
    font-size: 0.8vw;
}

#cart_item_table .row1 {
    width: 13%;
}

#cart_item_table .row2 {
    width: 44%;
}

#cart_item_table .row3 {
    width: 13%;
}

#cart_item_table .row4 {
    width: 13%;
}

#cart_item_table .row5 {
    width: 13%;
}

.cart_item_line {
    border-top: 2px solid #f0f0f0;
    height: 3.6vw;
    padding: 0.4vw 0;
}

.cart_item_line .inline_style {
    vertical-align: middle;
}

.cart_item_line .row1 {
    height: 2.6vw;
    width: 8% !important;
    margin-right: 5%;
    margin: 0.5vw 5% 0.5vw 0;
}

.cart_item_line .row2 {
    font-size: 0.9vw;
}

.cart_item_line .row3, .cart_item_line .row4 {
    font-size: 1.1vw;
}

.cart_item_line .row5 {
    font-size: 1.2vw;
    font-family: 'pf_dindisplay_probold';
}

#cart_item_footer {
    text-align: right;
    padding: 1.4vw 0px;
    font-family: 'pf_dindisplay_probold';
    font-size: 1.2vw;
    position: relative;
}

.order_det_view {
    width: 70%;
    position: relative;
}

.cart_itog {
    display: block;
}

.repeat_order {
    position: absolute;
    top: 1.4vw;
    left: 0;
    font-size: 0.9vw;
    text-transform: uppercase;
    color: white;
    padding: 0.3vw 0.7vw;
    border-radius: 50px;
}

.promo_table .row1 {
    width: 67%;
}

.manager_finder_box {
    position: relative;
    top: 5vw;
}

.manager_finder_box form {
    position: absolute;
    top: -0.4vw;
    right: 0;
}

.manager_finder_box input {
    background: #FFF url(../img/finder_ico.png) no-repeat 0.7vw center;
    border-radius: 50px;
    color: #9e9e9e;
    padding: 0.5vw 1vw 0.5vw 2vw;
    font-size: 0.9vw;
    width: 20vw;
    border: 2px solid #e6e6e6;
    background-size: 0.7vw;
}

.hid_content {
    display: none;
}

.title_in_lt {
    font-size: 1.5vw;
    text-align: left;
    padding-bottom: 1vw;
}

.akz_content_lt {
    text-align: left;
    font-size: 1vw;
}

.akz_content_lt p {
    padding-bottom: 1vw;
}

.akz_content_lt img {
    display: block;
    margin: 1vw auto;
    max-width: 100%;
}

.manager_box_row {
    padding-bottom: 1.6vw;
}

.manager_box_row .client_title {
    padding-bottom: 1.5vw;
}

.manager_file_view {
    border-top: 1px solid #d6d6d6;
    padding: 1vw 0;
}

.manager_file_view:first-child {
    border: 0;
}

.manager_file_view img {
    width: 5.3%;
    margin-right: 1.7%;
}

.manager_file_view p {
    color: #5d5d5d;
    font-size: 0.8vw;
    width: 78%;
}

.manager_file_view p span {
    color: white;
    background: #92c756;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'pf_dindisplay_probold';
    font-size: 0.6vw;
    padding: 0.3vw 0.4vw 0.2vw;
    border-radius: 50px;
    line-height: 0.6vw;
    margin-left: 0.6vw;
    vertical-align: middle;
}

.manager_file_view .d_inline {
    display: inline-block;
    vertical-align: middle;
}

.manager_file_view2 .d_inline {
    cursor: pointer;
}

.manager_all_file_in {
    position: relative;
    display: inline-block;
    width: 29%;
    overflow: hidden;
    margin-left: 0.6vw;
    height: 1.5vw;
    vertical-align: middle;
}

.manager_all_file_in input {
    cursor: pointer;
    width: 500px;
    position: absolute;
    left: -200px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    height: 1.5vw;
}

.manager_all_file_in a {
    position: relative;
    pointer-events: none;
    padding-left: 2vw;
    background-image: url(../img/order_file_ico.png);
    background-repeat: no-repeat;
    background-position: 0.6vw center;
    background-size: 0.9vw;
    display: inline-block;
}

.manager_file_link {
    padding-top: 1.5vw;
}

.manager_file_link a {
    vertical-align: middle;
}

.manager_box_row .inline_style {
    margin-right: 2%;
    width: 49%;
}

.manager_box_row .inline_style:last-child {
    margin-right: 0;
}

.manager_box_row .white_fon {
    padding: 4%;
}

.manager_box_row .order_title {
    font-size: 1.1vw;
}

.manager_box_row .order_title .s_a {
    margin-left: 0.8vw;
}

.manager_box_row b {
    font-family: 'pf_dindisplay_probold';
}

.client_order_dashboard {
}

.client_order_dashboard .client_title {
    padding-bottom: 1vw;
}

.client_order_dashboard b {
    font-family: 'pf_dindisplay_probold';
}

.dashboard_l {
    width: 66%;
    padding-bottom: 1.5vw;
}

.dashboard_r {
    margin-left: 2%;
    width: 32%;
}

.dashboard_l .white_fon {
    padding: 3%;
    min-height: 19vw;
}

.dashboard_r .white_fon {
    padding: 6%;
    min-height: 19vw;
}

.dashboard_line {
    padding: 1vw 0;
    border-top: 1px solid #dfdfdf;
}

.dashboard_line:first-child {
    padding-top: 0;
    border: 0;
}

.dashboard_title {
    font-size: 1.2vw;
    padding-bottom: 1vw;
}

.dashboard_content {
    font-size: 0.9vw;
}

.dashboard_l_1 {
    width: 60%;
}

.dashboard_l_2 {
    margin-left: 4%;
    width: 35%;
}

.client_order_dashboard #calendar2 .today:hover, #calendar2 .work:hover {
    color: inherit;
}

.link_from_cal {
    cursor: pointer;
}

.client_dash_hist {
    padding: 1vw 0;
    border-top: 1px solid #f2f2f2;
}

.client_dash_hist:first-child {
    border: 0;
}

.client_dash_hist .inline_style:first-child {
    width: 72%;
}

.client_dash_hist p:first-child {
    font-size: 0.9vw;
}

.client_dash_hist p:last-child {
    font-size: 0.8vw;
}

.client_order_dashboard #calendar_legend {
    padding-bottom: 0;
}

.all_dash_h_link {
    margin-top: 0.4vw;
}

.log_out {
    background: url(../img/exit.png) no-repeat left center;
    margin-left: 0.15vw;
    background-size: 0.9vw;
    font-size: 0.9vw;
    color: #2a2a2a;
    position: absolute;
    bottom: 0;
    left: 1.6vw;
    width: calc(100% - 4.8vw);
    border-top: 1px solid #eaebed;
    padding: 1vw 0 1vw 1.6vw;
}

.akz_lt_client2:first-child {
    width: 400px;
    height: 400px;
}

.akz_lt_client2:last-child {
    width: 460px;
    height: 380px;
    padding: 10px 20px;
    overflow-y: scroll;
    text-align: left;
}

.akz_lt_client2:last-child .title {
    padding: 2vw 0;
    font-size: 1.5vw;
    line-height: 1.5vw;
}

.show_all_promo_unic {
    display: inline-block;
    margin-left: 2vw;
}

.show_all_promo_unic svg {
    width: 1vw;
    stroke: #c2c2c2;
    margin-right: 0.5vw;
}
form p {
    color: #232323;
    font-size: 1.1vw;
    padding-bottom: 0.7vw;
}
#publisher_foto_cont {
    width: 65%;
    display: inline-block;
}
#publisher_foto_cont .img_file_box {
    width: 30%;
    margin-right: 0.3vw;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    height: 6vw;
    display: inline-block;
    overflow: hidden;
}
.img_file_box {
    width: 100%;
    position: relative;
}
#publisher_foto_cont .img_file_wrap {
    width: 100%;
    height: 100%;
    z-index: 100;
}
.img_file_wrap {
    position: relative;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
#publisher_foto_cont .img_file_wrap_i {
    width: 100%;
    height: 100%;
}
.img_file_wrap_i {
    width: 100%;
    height: 2vw;
    overflow: hidden;
    position: relative;
}
#publisher_foto_cont .img_file_wrap input {
    width: 100%;
    height: 100%;
    left: 0;
}
.img_file_wrap input {
    opacity: 0;
    cursor: pointer;
    padding: 0;
    width: 200%;
    left: -50%;
    position: absolute;
}
#publisher_foto_cont .img_file_preview {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    display: block;
    pointer-events: none;
    text-align: center;
}
#publisher_foto_cont .img_file_box img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    pointer-events: none;
    display: inline-block;
    border: 0;
    z-index: 261;
}
.del_this_pub_foto {
    position: absolute;
    top: 0;
    width: 2vw;
    height: 2vw;
    background: url(../img/fancybox_sprite.png);
    z-index: 300;
    pointer-events: all;
    right: 0;
    background-size: 2.4vw;
    cursor: pointer;
}
.selector {
    width: 1vw;
    height: 1vw;
    border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0.5vw;
    background: #c2c2c2;
}

.selector.active {
    background-image: url(../img/select_active.png);
    background-size: 0.6vw;
    background-repeat: no-repeat;
    background-position: center center;
}
.log_out_castom {
    background: url(../img/exit.png) no-repeat -0.1vw 0vw;
    margin-left: 0.05vw;
    background-size: 3.3vw;
    height: 1.5vw;
    width: 3.4vw;
    /* margin-bottom: 7vw; */
    font-size: 0.9vw;
    color: #2A2A2A;
    float: right;
    /* margin-right: 2.5vw; */
    /* width: calc(100% - 4.8vw); */
    /* border-top: 1px solid #eaebed; */
    padding: 1vw 0 1vw 1.6vw;
    /* margin-top: 0.4vw; */
}
.log_out_castom:hover {
    cursor: pointer;
}
