.animation_cart {
    position: absolute;
    z-index: 99999;
}

#inner_menu {
    width: 100%;
    z-index: 10;
    color: white;
    text-align: center;
    height: 4.7vw;
}

#inner_menu ul {
    display: inline-block;
    padding-top: 2.4vw;
}

#inner_menu ul li {
    display: inline-block;
}

#inner_menu ul li a {
    font-size: 0.9vw;
    display: block;
    padding: 0 1.5vw;
    color: #424242;
}

#inner_menu #cart_info {
    position: absolute;
    top: 1.6vw;
    right: 1.9vw;
}

#inner_menu #cart_info p {
}

#inner_menu #cart_info p:first-child {
    padding-bottom: 0;
}

#inner_menu #cart_info p:last-child {
    padding-top: 0;
}

#inner_menu #cart_info p svg {
    width: 0.4vw;
    fill: white;
    display: inline-block;
    margin-left: 5px;
}

#inner_menu #cart_ico {
    width: 3.3vw;
    height: 3vw;
    background: #0a0a0b url(../img/cart_ico.png) no-repeat center center;
    margin-right: 0px;
    background-size: 1.5vw;
    border-radius: 5px 0 0 5px;
}

#inner_menu #cart_info_content {
    text-align: left;
    background: #0a0a0b;
    /* border-radius: 0 0px 0px 0; */
    font-size: 0.7vw;
    height: 3vw;
    padding: 0 1vw;
}

#inner_menu #cart_info_content:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}

#inner_menu #align_cart_info {
    display: inline-block;
    vertical-align: middle;
}

.about_zone #inner_menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.about_zone #inner_menu ul li a {
    color: white;
}

.delivery .white_fon {
    background: white;
    border-radius: 5px;
}

.delivery .form_style_l {
    padding: 1.6vw 2%;
    width: 88%;
}

.color_failed {
    color: red !important;
}

#align_zone {
    /* position: relative; */
    padding: 0 2%;
}

/*inner about*/
#about_wrap {
    width: 100%;
    height: 56.3vw;
    text-align: center;
}

#about_wrap:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}

#about_center {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: white;
    width: 60vw;
}

#about_title {
    font-size: 3.3vw;
    line-height: 3.3vw;
}

#about_intro {
    font-size: 1.4vw;
    padding: 2.4vw 0 3.9vw;
}

#about_center button {
    font-size: 1.4vw;
    background: transparent;
    border: 2px solid #FFF;
    border-radius: 50px;
    padding: 0.8vw 3.5vw;
    color: white;
}

#call_back {
    padding: 0 1.9% 4.2vw;
}

#map {
    width: 69.7%;
    height: 39vw;
}

#call_back_title {
    color: #565b6d;
    font-size: 1.8vw;
    padding: 3vw 0 3.5vw;
    text-align: center;
}

#call_back_descr {
    width: 24.2%;
    background: white;
    padding: 2vw 3% 0;
    min-height: 37.1vw;
}

#call_back_descr ul {
}

#call_back_descr ul li {
    padding-bottom: 1.4vw;
}

#call_back_descr ul li img {
    display: inline-block;
    width: 15%;
    vertical-align: middle;
}

#call_back_descr ul li .inline_style {
    padding-left: 3%;
    width: 80%;
    vertical-align: middle;;
}

#call_back_descr ul li p {
    color: #565b6d;
    font-size: 1vw;
}

#about_form {
}

#about_form p {
    font-size: 1.8vw;
    color: #565b6d;
    padding-bottom: 1.6vw;
}

#about_form input {
    font-size: 1vw;
    color: #898989;
    font-family: 'pf_dindisplay_proregular';
    padding: 0.7vw 0.8vw;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    margin: 0 0 0.7vw;
    width: calc(100% - 1.7vw);
}

#about_form textarea {
    font-size: 1vw;
    color: #898989;
    font-family: 'pf_dindisplay_proregular';
    padding: 0.7vw 0.8vw;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    width: calc(100% - 1.7vw);
    resize: none;
}

#about_form button {
    font-size: 1.4vw;
    color: white;
    text-transform: uppercase;
    padding: 0.7vw 0;
    width: 100%;
    border-radius: 50px;
    margin-top: 1vw;
}

/*category*/
#category_title_wrap {
    position: relative;
    text-align: center;
}

#category_title_wrap p {
    font-size: 1.2vw;
    line-height: 1.8vw;
    padding-top: 1.8vw;
}

#sort_by {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.8vw;
}

#show_as {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

#show_as a {
    display: inline-block;
    margin-left: 0.5vw;
}

#show_as a img {
    width: 1vw;
    opacity: 0.4;
}

#show_as a.active img {
    opacity: 1;
}

#goods_item_wrap {
    padding-top: 1.8vw;
}

.goods_item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background: white;
    width: 18%;
    margin: 0 2% 2% 0;
    padding-bottom: 1.5vw;
}

.goods_item:nth-child(5n) {
    margin-right: 0;
}

.goods_item .img_fon {
    height: 11vw;
    border-bottom: 1px solid #f2f2f2;
}

.goods_item p {
    font-size: 1vw;
    color: #565b6d;
    padding: 1.4vw 1.6vw 1vw;
}

.goods_item .price {
    font-size: 1vw;
    margin: 0 0.9vw 0 1.5vw;
    font-family: 'pf_dindisplay_probold';
    padding: 0.6vw 0;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    width: 5.5vw;
    text-align: center;
}

.goods_item button {
    font-size: 0.8vw;
    color: white;
    text-transform: uppercase;
    padding: 0.7vw 0;
    border: 1px solid transparent;
    border-radius: 50px;
    width: 5.6vw;
}

#add_to_cart_wrap {
    text-align: center;
}

#add_to_cart_wrap p {
    font-size: 1.3vw;
    color: #565b6d;
    padding-bottom: 0.5vw;
}

#add_to_cart_wrap input {
    font-size: 1vw;
    color: #898989;
    font-family: 'pf_dindisplay_proregular';
    padding: 0.7vw 0.8vw;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    margin: 0 0 0.7vw;
    width: 10vw;
}

#add_to_cart_wrap button {
    font-size: 0.8vw;
    color: white;
    text-transform: uppercase;
    padding: 0.7vw 0;
    border: 1px solid transparent;
    border-radius: 50px;
    width: 5.6vw;
    display: block;
    margin: 0 auto;
}

/*cart*/
#cart_item_table {
    margin-top: 2vw;
    background: white;
    padding: 1.6vw 2.3%;
    margin-bottom: 2.5vw;;
}

#cart_item_table .inline_style {
    vertical-align: middle;
}

#cart_item_table .row1 {
    width: 6.4%;
    margin-right: 2%;
}

#cart_item_table .row2 {
    width: 45.6%;
}

#cart_item_table .row3 {
    width: 8.9%;
}

#cart_item_table .row4 {
    width: 15.7%;
}

#cart_item_table .row5 {
    width: 12.3%;
}

#cart_item_table .row6 {
    cursor: pointer;
}

#cart_item_head {
    color: #b5b5b5;
    font-size: 0.7vw;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    font-family: 'pf_dindisplay_probold';
    padding-bottom: 0.3vw;;
}

#cart_item_body {
}

.cart_item_line {
    border-bottom: 1px solid #f0f0f0;
    color: #555555;
}

.cart_item_line .row1 {
    height: 4.7vw;
}

.cart_item_line .row4 span {
    border: 1px solid #eff2f4;
    display: inline-block;
    width: 2vw;
    text-align: center;
    font-size: 1.5vw;
    padding: 0.3vw 0;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.cart_item_line .row4 .inc {
    border-radius: 0 50px 50px 0;
}

.cart_item_line .row4 .dec {
    border-radius: 50px 0 0 50px;
}

.cart_item_line .row4 input {
    border-top: 1px solid #eff2f4;
    border-bottom: 1px solid #eff2f4;
    border-left: 0;
    border-right: 0;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 1vw;
    width: 3vw;
    padding: 0.6vw 0;
}

.cart_item_line .row4 input.focus {
    box-shadow: 0 0 0 0 transparent !important;
    border-top: 1px solid #eff2f4;
    border-bottom: 1px solid #eff2f4;
}

.cart_item_line .row4 input.done {
    box-shadow: 0 0 0 0 transparent !important;
    border-top: 1px solid #eff2f4;
    border-bottom: 1px solid #eff2f4;
}

#cart_item_footer {
    padding: 1vw 0;
    color: #555555;
    font-size: 0.8vw;
}

#cart_item_footer b {
    font-family: 'pf_dindisplay_probold';
}

#cart_item_footer .discont {
    width: 45%;
}

#cart_item_footer .discont .discont_line {
    padding-bottom: 0.3vw;
}

#info_pr_text {
    border: 1px solid #d6d6d6;
    background: transparent;
    border-radius: 50px;
    padding: 0.3vw 0.6vw;
    margin-left: 1vw;
}

#cart_item_footer .cart_itog {
    width: 38%;
    text-align: right;
    font-size: 1.4vw;
    font-family: 'pf_dindisplay_probold';
}

#cart_item_footer .cart_itog_dop {
}

#cart_item_footer .next_step_cart {
    margin-left: 6.7%;
    font-size: 1vw;
    color: white;
    padding: 0.6vw 2%;
    border-radius: 50px;
}

#rules_delivery {
    width: 39%;
}

#rules_title {
    color: #565b6d;
    font-size: 1.2vw;
    padding-bottom: 1vw;
}

#rules_content {
    color: #555555;
    font-size: 0.8vw;
    height: 21vw;
    overflow: hidden;
    margin-bottom: 1vw;
}

#rules_content p {
    padding-bottom: 0.4vw;
}

#more_rules_delivery {
    background: transparent;
    font-size: 0.7vw;
    text-transform: uppercase;
}

#calendar_cart {
    padding: 1vw 2%;
    margin: 0 2%;
    background: white;
    width: 24.5%;
    min-height: 23vw;
}

#calendar_title {
    color: #565b6d;
    font-size: 1.2vw;
    padding-bottom: 1.7vw;
}

#calendar2 {
    width: 100%;
    text-align: center;
    font-size: 1.2vw;
    color: #61676b;
}

#calendar2 .today {
    position: relative;
}

#calendar2 td {
    position: relative;
}

#calendar2 thead tr:first-child td {
    padding-bottom: 1.7vw;
}

#calendar2 thead tr:first-child td:first-child {
    cursor: pointer;
}

#calendar2 thead tr:first-child td:last-child {
    cursor: pointer;
}

#calendar2 thead tr:last-child td {
    text-transform: uppercase;
    font-size: 0.9vw;
}

#calendar2 tbody td span {
    font-size: 0.9vw;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 50px;
    margin: 0vw 0;
    padding: 0.4vw 0;
    width: 2vw;
}

#calendar2 .block:hover span {
    background: transparent !important;
    color: #61676b !important;
    border: 1px solid transparent !important;
}

#calendar2 .today, #calendar2 .work {
    cursor: pointer;
}

#calendar2 .today:hover, #calendar2 .work:hover {
    color: white;
}

#calendar2 .today span {
    border: 1px solid #c2c2c2;
}

#calendar2 .active span {
    color: white;
}

#calendar_legend {
    color: #6d6d6d;
    font-size: 0.7vw;
}

#calendar_legend span {
    display: inline-block;
    vertical-align: middle;
}

.legend_today {
    width: 1vw;
    height: 1vw;
    border: 1px solid #c2c2c2;
    border-radius: 50px;
    margin: 0 0.4vw 0 1.1vw;
}

.legend_active {
    width: 1vw;
    height: 1vw;
    border-radius: 50px;
    margin: 0 0.4vw 0 1vw;
}

#graph_delivery {
    background: white;
    display: inline-block;
    padding: 1vw 2%;
    width: 23.7%;
    min-height: 23vw;
}

#graph_delivery_title {
    color: #565b6d;
    font-size: 1.2vw;
    padding-bottom: 1vw;
}

#graph_delivery ul {
}

#graph_delivery ul li {
    color: #565b6d;
    font-size: 0.9vw;
    padding: 1vw 0;
    border-bottom: 2px solid #f0f0f0;
}

#graph_delivery ul li:last-child {
    border-bottom: 0;
}

#graph_delivery ul li span {
    display: inline-block;
    vertical-align: middle;
}

#graph_delivery ul li a {
    color: #555555;
    font-size: 0.7vw;
    display: inline-block;
    padding: 0.3vw 0.7vw;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    vertical-align: middle;
    margin-left: 0.6vw;;
}

.show_all_delivery {
    color: #555555;
    font-size: 0.7vw;
    display: block;
    padding: 0.3vw 4%;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    margin: 0 auto;
    width: 60%;
}

#select_shop {
}

#select_shop_title {
    color: #565b6d;
    font-size: 1.2vw;
    padding-bottom: 1.5vw;
    padding-top: 2vw;
}

#select_shop .inline_style {
    border: 1px solid transparent;
    width: calc(49% - 2px);
    margin-right: 2%;
    height: 15vw;
    margin-bottom: 1.6vw;
}

#select_shop .inline_style:nth-child(2n-1) {
    margin-right: 0;
    width: calc(49% - 4px);
}

#select_shop .shop_setup {
    background: white;
}

#select_shop .shop_setup p {
    font-size: 1.1vw;
    color: #232323;
}

#select_shop .shop_head {
    padding: 1vw 4%;
    border-bottom: 1px solid #f9f9f9;
    position: relative;
}

#select_shop .shop_body {
    position: relative;
    padding: 1vw 4%;
}

#select_shop .shop_input_form {
    position: relative;
}

#select_shop .shop_body input {
    font-size: 0.9vw;
    color: #898989;
    border: 1px solid #dedede;
    padding: 0.3vw 0.4vw;
    display: block;
    border-radius: 5px;
    margin-bottom: 0.6vw;
    width: 13vw;
}

#select_shop .shop_body textarea {
    font-size: 0.9vw;
    color: #898989;
    border: 1px solid #dedede;
    padding: 0.3vw 0.4vw;
    display: block;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    width: 17vw;
    height: 6vw;
    resize: none;
}

#select_shop .shop_body p {
    padding-bottom: 0.9vw;
}

#select_shop .shop_body textarea {
}

.select_shop {
    font-size: 0.9vw;
    position: absolute;
    right: 4%;
    top: 0.9vw;
    width: 17.8vw;
}

.select_shop p {
    color: #898989 !important;
    padding: 0.3vw 0.4vw;
    font-size: 0.9vw !important;
    background: #f7f7f7 url(../img/select_ico.png) no-repeat 95% center;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    cursor: pointer;
    background-size: 0.6vw;;
}

.select_shop ul {
    background: white;
    position: absolute;
    display: none;
    border-radius: 5px;
    border: 1px solid #cccccc;
    width: 100%;
    top: 70%;
    z-index: 100;
}

.select_shop ul li {
    padding: 0.3vw 0.4vw;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
}

.select_shop ul li:last-child {
    border: 0;
}

.select_shop ul li:hover {
    background: #eaeaea;
}

#select_shop .add_shop {
    border: 2px dashed #dce1e8;
    text-align: center;
}

#select_shop .add_shop:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}

.add_block_text {
    display: inline-block;
    vertical-align: middle;
}

.add_block_text img {
    width: 3.3vw;
    margin-bottom: 1.8vw;
}

.add_block_text p {
    color: #848990;
    font-size: 1vw;
}

.add_block_text .add_shop_form {
    background: #848990;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    padding: 0.5vw 1.1vw;
    border-radius: 50px;
    margin-top: 1.1vw;
    cursor: pointer;
}

#finish_order_form {
    text-align: center;
    padding: 3.4vw 0 8vw;
}

#finish_order {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 1.4vw;
    padding: 0.5vw 2vw;
    border-radius: 50px;
}

/*det item*/

#detail_content {
    background: white;
    margin-top: 3vw;
}

#detail_content .inline_style:first-child {
    width: 49%;
}

#detail_content .inline_style:last-child {
    color: #565b6d;
    width: 50.5%;
}

#det_sl {
    position: relative;
    height: 30.5vw;
    width: 100%;
    padding-bottom: 7.5vw;
    margin-left: -2vw;
}

#det_sl .slidesjs-container, #det_sl .slidesjs-control {
    height: 100%;
}

#det_sl .img_fon {
    width: calc(100% - 2vw);
    height: 100%;
    cursor: pointer;
    margin-left: 2vw;
}

#det_sl .img_fon a {
    /* position: relative; */
    /* left: 0px; */
    display: block;
    width: 100%;
    height: 100%;
}

.slidesjs-navigation {
    position: absolute;
    top: 35%;
    z-index: 200;
}

.slidesjs-previous {
    left: 4.3vw;
}

.slidesjs-next {
    right: 2.3vw;
    transform: rotate(-180deg);
}

.slidesjs-navigation svg {
    width: 1vw;
    height: auto;
    stroke-width: 13px;
}

#det_sl .slidesjs-pagination {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 1.6vw 0;
}

#det_sl .slidesjs-pagination li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 0.3vw;
}

#det_sl .slidesjs-pagination li a {
    display: block !important;
    width: 5.6vw !important;
    height: 4.2vw;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    -moz-background-size: cover;
    left: 0 !important;
    position: relative !important;
    border-radius: 5px;
}

#det_sl .slidesjs-pagination li a span {
    position: absolute;
    display: block;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
}

#det_sl .slidesjs-pagination li a.active span {
    opacity: 1;
}

#det_sl .slidesjs-pagination li a:hover span {
    opacity: 1;
}

#det_des {
    padding: 2.6vw 1vw 0 1.9vw;
}

.dt_title_des {
    font-size: 1.2vw;
    padding-bottom: 0.9vw;
}

#text_det_content {
    height: 6vw;
    overflow: hidden;
    position: relative;
}

#text_det_content:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 150%;
    left: -25%;
    height: 0;
    box-shadow: 0 0 10px 10px white;
}

#text_det_content.full:after {
    opacity: 0;
}

#text_det_dop_content {
}

#text_det_content.full {
    height: auto;
}

.show_more_content, .hide_more_content {
    text-transform: uppercase;
    font-size: 0.8vw;
    padding: 0.6vw 0 2.1vw;
    cursor: pointer;
}

.hide_more_content {
    display: none;
}

#det_to_cart {
    background: #f6f7f9;
    border-radius: 5px;
    color: #555555;
    /* margin: 0 0 0vw 0; */
    height: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#det_to_cart:after {
    content: '';
    display: none;
    vertical-align: middle;
    width: 0;
    height: 100%;
}

.det_to_cart_info {
    width: 45%;
}

.det_to_cart_button {
    width: 42%;
}

.det_to_cart_info p:first-child {
    font-family: 'pf_dindisplay_probold';
    text-transform: uppercase;
    font-size: 1.5vw;
}

.det_to_cart_info p:first-child .rub_lt {
    font-weight: bold;
    text-transform: lowercase;
}

.det_to_cart_info p {
    font-size: 0.8vw;
}

.det_to_cart_button {
}

.det_to_cart_button span, .det_to_cart_button input, .det_to_cart_button button {
    display: inline-block;
    vertical-align: middle;
}

.det_to_cart_button span {
    border: 1px solid #eff2f4;
    display: inline-block;
    width: 10%;
    text-align: center;
    font-size: 1.5vw;
    padding: 0.3vw 0;
    cursor: pointer;
    vertical-align: middle;
    background: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.det_to_cart_button .inc {
    border-radius: 0 50px 50px 0;
}

.det_to_cart_button .dec {
    border-radius: 50px 0 0 50px;
}

.det_to_cart_button input {
    border-top: 1px solid #eff2f4;
    border-bottom: 1px solid #eff2f4;
    border-left: 0;
    border-right: 0;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 1vw;
    width: 20%;
    padding: 0.6vw 0;
}

.det_to_cart_button input.done {
    border-top: 1px solid #eff2f4;
    border-bottom: 1px solid #eff2f4;
    box-shadow: 0 0 0 0 white;
}

.det_to_cart_button input.focus {
    border-top: 1px solid #eff2f4;
    border-bottom: 1px solid #eff2f4;
    box-shadow: 0 0 0 0 white;
}

.det_to_cart_button button {
    color: white;
    font-size: 1vw;
    text-transform: uppercase;
    padding: 0.7vw 4% 0.5vw 13%;
    border-radius: 50px;
    margin-left: 5%;
    background-image: url(../img/cart_ico.png);
    background-repeat: no-repeat;
    background-position: 0.7vw center;
    background-size: 1.2vw;
}

#recomend_title {
    font-size: 1.8vw;
    line-height: 1.8vw;
    text-align: center;
    color: #565b6d;
    padding: 2.6vw 0;
}

#msg_ok_cart {
}

#msg_ok_cart img {
    padding-top: 40px;
}

#msg_ok_cart p {
    padding: 20px 0 50px;
    color: #000000;
    font-size: 25px;
}

/*log form*/
#log_form_wrap {
    padding: 1vw 0;
}

#log_form_wrap p {
    padding: 1vw 0 2vw;
    font-size: 2.5vw;
    color: #2a2a2a;
}

.input_log {
    border-radius: 0 0 5px 5px;
    display: block;
    margin: 0 auto;
    border: 2px solid #dddddd;
    color: #898989;
    font-size: 1vw;
    padding: 0.8vw 0.5vw 0.8vw 2.7vw;
    background: #FFF url(../img/pass_ico.png) no-repeat 0.8vw center;
    border-top: 1px solid #DDD;
    position: relative;
    z-index: 0;
    width: 12.3vw;
    background-size: 1vw;
}

.input_log:first-child {
    border-bottom: 1px solid #DDD;
    border-radius: 5px 5px 0 0;
    background-image: url(../img/user_ico.png);
    background-size: 1vw;
}

.submit_log, .submit_recover, .submit_new_user {
    font-size: 1.2vw;
    text-transform: uppercase;
    color: white;
    padding: 0.6vw 0;
    border-radius: 50px;
    width: 15.6vw;
    margin-top: 1.3vw;
    line-height: 1.2vw;
}

.recover_pass {
    padding: 0.7vw 0 1vw;
    font-size: 0.9vw;
    color: #898989;
    display: inline-block;
}

.dop_autorization_box {
    border-top: 2px solid #dddddd;
    position: relative;
    padding: 1.5vw 0 2vw;
}

.dop_autorization_box p {
    font-size: 1.5vw;
    color: #2a2a2a;
}

.dop_autorization_box a {
    font-size: 0.9vw;
    color: #898989;
}

#log_form_wrap .error_txt {
    padding: 0 0 10px;
    font-size: 18px;
}

.pop_input {
    font-size: 1vw;
    color: #898989;
    padding: 0.6vw 1vw;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 13.3vw;
}

.submit_recover {
    margin-bottom: 40px;
}

.new_user_margin {
    margin-bottom: 0.8vw;
}

.submit_new_user {
    margin: 0.8vw 0 1vw;
}

.cart_comp_selector {
    border: 1px solid #898989;
    outline: none;
    font-size: 0.9vw;
    background: #f7f7f7;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.7vw 2vw 0.7vw 1vw;
}

.cart_selec_align {
    padding-bottom: 2vw;
}

.cart_selec_align p {
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
}

.cart_selec_align select {
    width: 20vw;
}

.cart_selec_align .select_wr {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.cart_selec_align .select_wr:after {
    content: '';
    background: url(../img/select_ico.png) no-repeat;
    width: 0.7vw;
    height: 0.4vw;
    display: block;
    background-size: 0.6vw;
    top: 50%;
    right: 5%;
    pointer-events: none;
    position: absolute;
}

/*main style*/
#main_sl {
    position: relative;
    height: 100%;
}

#main_sl .img_fon {
    height: 100%;
}

#main_sl .slidesjs-container {
    height: 100%;
}

#main_sl .slidesjs-control {
    height: 100%;
}

#main_sl_text_wrap {
    position: absolute;
    top: 6vw;
    left: 0;
    height: 37vw;
    width: 100%;
    text-align: center;
    z-index: 200;
}

.hid_content {
    display: none;
}

#main_sl_text_wrap p {
    color: white;
    font-size: 1vw;
    padding: 0.5vw 0;
}

#main_sl_text_wrap img {
    max-width: 50vw;
    width: 7.6vw;
}

#main_sl_text_wrap button {
    color: white;
    font-size: 0.7vw;
    text-transform: uppercase;
    padding: 0.4vw 1vw;
    border-radius: 50px;
    margin-top: 0.5vw;
}

#main_sl .slidesjs-pagination {
    display: inline-block;
    vertical-align: middle;
}

#main_sl .slidesjs-pagination ul {
}

#main_sl .slidesjs-pagination li {
    display: inline-block;
    vertical-align: top;
}

#main_sl .slidesjs-pagination li a {
    display: block;
    width: 0.6vw;
    height: 0.6vw;
    overflow: hidden;
    background: transparent;
    border-radius: 50px;
    color: transparent;
    margin: 0 0.3vw;
    border: 2px solid white;
}

#main_sl .slidesjs-pagination li a.active {
    background: white;
}

#main_sl_wrap_pag {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4vw;
    text-align: center;
    z-index: 100;
}

#main_new_content {
    padding: 0 2%;
}

#main_new_content .mnc_title {
    text-align: center;
    color: #565b6d;
    font-size: 1.8vw;
    padding: 1vw 0;
}

.input_label {
    position: absolute;
    background: white;
    padding: 2vw;
    border-radius: 5px;
    box-shadow: 0 0 64px 3px #c2c2c2;
    z-index: 99999;
    border: 1px solid #F00;
}

.input_label:before {
    content: '';
    position: absolute;
    top: -0.5vw;
    left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
    background: red;
    transform: rotate(45deg);
    z-index: 0;
}

.input_label:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 3.5vw;
    height: 1.5vw;
    background: white;
    z-index: 1;
    left: 1px;
}

.log_out {
    background: url(../img/exit.png) no-repeat left center;
    margin-left: 0.15vw;
    background-size: 0.9vw;
    font-size: 0.9vw;
    color: #2a2a2a;
    position: absolute;
    bottom: 0;
    left: 1.6vw;
    width: calc(100% - 4.8vw);
    border-top: 1px solid #eaebed;
    padding: 1vw 0 1vw 1.6vw;
}

.reset_align {
    position: relative;
    background: #FFF;
    border-radius: 5px;
    margin-top: 1.5vw;
    width: 45%;
    padding: 2.8%;
}

.reset_error_msg {
    font-size: 1.1vw;
    color: red;
}

.reset_line {
    padding-bottom: 1vw;
}

.reset_line p {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1vw;
    width: 40%;
}

.reset_line input {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-size: 1vw;
    padding: 0.7vw 0.8vw;
    width: 19vw;
}

.reset_align button {
    font-size: 1.1vw;
    color: #FFF;
    display: block;
    text-transform: uppercase;
    padding: 0.5vw 0;
    width: 200px;
    border-radius: 50px;
    margin: 1vw auto;
    border: 0;
    cursor: pointer;
}

.reset_form_title {
    font-size: 1.4vw;
    color: #5d5d5d;
}

#finder_goods {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    overflow: hidden;
}

#finder_goods input {
    background: #FFF url(../img/finder_ico.png) no-repeat 0.7vw center;
    border-radius: 50px;
    color: #9e9e9e;
    padding: 0.5vw 1vw 0.5vw 2vw;
    font-size: 0.9vw;
    width: 20vw;
    border: 2px solid #e6e6e6;
    background-size: 0.7vw;
}

#finder_goods p {
    padding: 0;
    line-height: 1vw;
    font-size: 1vw;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1vw;
    text-transform: uppercase;
    cursor: pointer;
}

#finder_reset {
    position: absolute;
    font-size: 0.8vw;
    bottom: 0;
    left: 15%;
}

.inline_style.cart_itog .summ_plus span.money, .inline_style.cart_itog .summ_minus span.money, .inline_style.cart_itog .summ span.money {
    padding-left: 5px;
}

#min_order {
    margin: 0.8vw;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 1.4vw;
    padding: 0.5vw 2vw;
    border-radius: 50px;
    float: left;
}

#min_order_cancel {
    margin: 0.8vw;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 1.4vw;
    padding: 0.5vw 2vw;
    border-radius: 50px;
    float: right;
}
.log_out_castom_guest {
    margin-left: 0.15vw;
    background: url(../img/exit.png) no-repeat 0.1vw 0vw;
    background-size: 3.4vw;
    width: 2.7vw;
    height: 1vw;
    /* margin-bottom: 7vw; */
    font-size: 0.9vw;
    color: #2A2A2A;
    float: right;
    /* margin-right: 2.5vw; */
    /* width: calc(100% - 4.8vw); */
    /* border-top: 1px solid #eaebed; */
    padding: 1vw 0 1vw 1.6vw;
}
.log_out_castom_guest:hover {
    cursor: pointer;
}
