/*all crm*/
#crm_menu {
    padding: 0 0 1.5vw 1.5vw;
    color: #5d5d5d;
    font-size: 1.4vw;
}

#crm_menu li {
    padding-right: 1.6vw;
}

#crm_menu li a {
    display: block;
    position: relative;
    padding-bottom: 0.4vw;
}

#crm_menu li a:hover span {
    opacity: 1;
}

#crm_menu li a span {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    opacity: 0;
}

#crm_menu li a.active span {
    opacity: 1;
}

.log_out {
    background: url(../img/exit.png) no-repeat left center;
    margin-left: 0.15vw;
    background-size: 0.9vw;
    font-size: 0.9vw;
    color: #2a2a2a;
    position: absolute;
    bottom: 0;
    left: 1.6vw;
    width: calc(100% - 4.8vw);
    border-top: 1px solid #eaebed;
    padding: 1vw 0 1vw 1.6vw;
}

.log_out_castom {
    background: url(../img/exit.png) no-repeat 0.1vw center;
    margin-left: 0.15vw;
    background-size: 2vw;
    width: 1.9vw;
    /* margin-bottom: 7vw; */
    font-size: 0.9vw;
    color: #2A2A2A;
    float: right;
    /* margin-right: 2.5vw; */
    /* width: calc(100% - 4.8vw); */
    /* border-top: 1px solid #eaebed; */
    padding: 1vw 0 1vw 1.6vw;
}

.log_out_castom:hover {
    cursor: pointer;
}

.log_out_castom_admin {
    background: url(../img/exit_man_adm.png) no-repeat 0.1vw center;
    margin-left: 0.15vw;
    background-size: 2vw;
    width: 1.9vw;
    /* margin-bottom: 7vw; */
    font-size: 0.9vw;
    color: #2A2A2A;
    float: right;
    /* margin-right: 2.5vw; */
    /* width: calc(100% - 4.8vw); */
    /* border-top: 1px solid #eaebed; */
    padding: 1vw 0 1vw 1.6vw;
}

.log_out_castom_admin:hover {
    cursor: pointer;
}

.crm_title {
    font-size: 1.4vw;
    color: #5d5d5d;
    padding: 0 1.5vw 1.5vw 1.5vw;
}

#crm_pagination {
    text-align: center;
    padding: 1.9vw 0;
}

#crm_pagination a {
    color: black;
    font-size: 0.9vw;
    border-radius: 100px;
    display: inline-block;
    width: 2.2vw;
    height: 2.2vw;
    text-align: center;
}

#crm_pagination a span {
    display: inline-block;
    vertical-align: middle;
}

#crm_pagination a:after {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

#crm_pagination a.bg_color_th {
    color: white;
}

#crm_pagination a:hover {
    color: white;
}

/*abc list*/
#abc_table {
    margin: 0 1.8%;
    background: white;
    border-radius: 5px;
    padding: 1.1vw 1.8%;
}

#abc_table .row1 {
    width: 66%;
}

#abc_table .row2, #abc_table .row3, #abc_table .row4 {
    width: 11%;
}

#abc_head_table {
    color: #b5b5b5;
    text-transform: uppercase;
    font-size: 0.7vw;
    font-family: 'pf_dindisplay_probold';
}

#abc_body_table {
    padding-top: 0.6vw;
}

#abc_body_table .abc_line {
    border-top: 1px solid #e2eed9;
    color: #555555;
    font-size: 1.1vw;
    background: #eff8e9;
}

#abc_body_table .abc_line:nth-child(n+5) {
    background: white;
    border-top: 1px solid #f2f2f2;
}

#abc_body_table .abc_line_no {
    background: white;
    border-top: 1px solid #f2f2f2;
}

#abc_body_table .abc_line .row1 {
    padding-left: 0.8%;
    width: 65%;
}

#abc_body_table .row4 span {
    display: inline-block;
    vertical-align: middle;
}

#abc_body_table .row4 svg {
    width: 0.6vw;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.1vw;
    height: auto;
}

#abc_body_table .row3 svg {
    width: 0.6vw;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.1vw;
    height: auto;
}

#abc_body_table .row4:after {
    content: '';
    width: 0px;
    height: 1.5vw;
    display: inline-block;
    vertical-align: middle;
}

#abc_body_table .inline_style {
    padding: 0.7vw 0;
    color: inherit;
}

/*creat manager*/
#creat_manager {
    display: inline-block;
    background: white;
    margin-left: 1.5vw;
    padding: 2vw 1.5vw;
    width: 36vw;
}

#creat_manager p {
    color: #232323;
    font-size: 0.9vw;
    padding-bottom: 2.6vw;
}

.input_wrap {
    height: 3.7vw;
}

.input_wrap:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}

#creat_manager label {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1vw;
    color: #232323;
    width: 16vw;
}

#creat_manager input {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 0.5vw 1vw;
    width: 17.5vw;
    font-size: 1vw;
}

#creat_manager button {
    color: white;
    text-transform: uppercase;
    display: block;
    margin: 1vw auto 0;
    font-size: 1.1vw;
    padding: 1vw 2.6vw;
    border-radius: 50px;
}

/*klient*/
#klient_list {
}

.client_item {
    background: white;
    display: inline-block;
    border-radius: 5px;
    width: 14.8vw;
    margin: 0 0 1.5vw 1.5vw;
    vertical-align: top;
}

.client_item p {
    color: #565b6d;
    font-size: 0.9vw;
    padding: 0 1.5vw;
}

.client_item .client_logo {
    display: block;
    margin: 1vw auto;
    max-width: 90%;
}

.client_item .client_title {
    padding: 1vw 1.5vw;
    border-top: 1px solid #ebebeb;
    color: #000000;
    font-size: 1.1vw;
}

.client_item .client_info {
    padding: 0 1.5vw;
}

.client_item .client_info p, .client_item .client_info a {
    color: #565b6d;
    font-size: 0.9vw;
    padding: 0;
}

.client_item .more_info {
    color: #555555;
    font-size: 0.8vw;
    margin: 1vw 1.5vw;
    display: inline-block;
    padding: 0.5vw 0.8vw;
    border: 1px solid #ebebeb;
    border-radius: 30px;
}

.client_item .money_style {
    font-family: 'pf_dindisplay_probold';
    padding-bottom: 1vw;
}

.client_item .money_style .money {
}

/*manager*/
#manager_dop_info {
    position: absolute;
    top: 3.6vw;
    right: 1.6vw;
    text-align: right;
}

#select_manager a {
    color: white;
    padding: 0.8vw 1.6vw;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 3vw;
    font-size: 1vw;
}

#select_manager span {
    color: #565b6d;
}

#select_manager {
    position: absolute;
    right: 25vw;
    text-align: right;
}

#manager_dop_info a {
    color: white;
    padding: 0.8vw 1.6vw;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 3vw;
    font-size: 1vw;
}

#manager_dop_info p {
    font-size: 1.4vw;
    color: #5d5d5d;
}

#manager_dop_info p b {
    font-weight: normal;
    font-family: 'pf_dindisplay_probold';
}

.manager_menu_top_margin {
    padding-top: 2.7vw !important;
}

#manager_table {
    background: white;
    margin: 0 1.5vw;
    border-radius: 5px;
    padding: 1vw 1.5vw;
}

#manager_table .row1 {
    width: 29.2vw;
}

#manager_table .row2, #manager_table .row3, #manager_table .row4 {
    width: 7.8vw;
}

#manager_table .row5 {
    width: 13.5vw;
}

#manager_table .row6 {
}

#manger_head {
    color: #b5b5b5;
    font-family: 'pf_dindisplay_probold';
    text-transform: uppercase;
    font-size: 0.7vw;
}

#manager_body {
    color: #565b6d;
    font-size: 1vw;
    padding-top: 0.3vw;
}

.manager_item {
    padding: 1vw 0;
    border-top: 1px solid #ebebeb;
}

.manager_item .inline_style {
    vertical-align: middle;
}

.manager_item .row1 {
}

.manager_item .row1 .img_fon {
    display: inline-block;
    vertical-align: middle;
    width: 3.1vw;
    height: 3.1vw;
    margin-right: 0.6vw;
    border-radius: 200px;
    overflow: hidden;;
}

.manager_item .row1 .manager_info {
    display: inline-block;
    vertical-align: middle;
}

.manager_item .money {
    display: inline-block;
    vertical-align: middle;
}

.manager_item svg {
    width: 0.6vw;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.2vw;
    height: auto;
    fill: #565b6d;
}

.manager_item .row6 .count {
    margin-right: 0.5vw;
}

.manager_item .row6 a {
    display: inline-block;
    vertical-align: middle;
    padding: 0.5vw 0.8vw;
    border: 1px solid #ebebeb;
    border-radius: 50px;
}

.manager_item .row6 a span {
    display: inline-block;
    vertical-align: middle;
}

/*order*/
#order_wrap {
}

.order_item {
    background: white;
    border-radius: 5px;
    padding: 1.5vw;
    width: 36vw;
    color: #5d5d5d;
    margin: 0 0 1.5vw 1.5vw;
}

.order_left_row {
    width: 25vw;
}

.order_left_row p {
    font-size: 0.9vw;
}

.order_left_row .order_title {
    font-size: 1.2vw;
    padding-bottom: 1vw;
}

.order_left_row b {
    color: #0a0a0a;
    font-weight: normal;
    font-family: 'pf_dindisplay_probold';
}

.order_left_row .order_company span {
    position: relative;
}

.order_left_row .new_klient {
    position: absolute;
    top: -0.5vw;
    right: -0.6vw;
    background: #92c756;
    color: white;
    font-size: 0.5vw;
    text-transform: uppercase;
    padding: 0.2vw 0.5vw;
    border-radius: 30px;
    display: inline-block;
}

.order_left_row .order_manager_info {
    padding: 1vw 0;
}

.order_left_row .order_manager_info .img_fon {
    width: 3.1vw;
    height: 3.1vw;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.6vw;
    border-radius: 300px;
    overflow: hidden;
}

.order_left_row .order_manager_info .inline_style {
    vertical-align: middle;
}

.order_left_row .order_manager_info .inline_style p {
}

.order_left_row .order_manager_info .inline_style p:first-child {
    font-family: 'pf_dindisplay_probold';
}

.order_right_row {
    text-align: right;
    width: 10.1vw;
}

.order_right_row a {
    color: #565b6d;
    font-size: 0.8vw;
    padding: 0.4vw 1.1vw;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 0.6vw;
}

/*add client*/
#client_list_select .client_item {
}

#client_list_select .client_item .see_detail {
    margin-left: 1.5vw;
    margin-right: 0;
}

#client_list_select .client_item .del_item {
    margin: 1vw 0 0 0.5vw;
    background: url(../img/del.png) no-repeat 0.8vw center;
    background-size: 0.6vw;
    padding: 0.5vw 0.8vw 0.5vw 1.8vw;
}

.selector {
    width: 1vw;
    height: 1vw;
    border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    background: #c2c2c2;
}

.selector.active {
    background-image: url(../img/select_active.png);
    background-size: 0.6vw;
    background-repeat: no-repeat;
    background-position: center center;
}

#client_list_select .client_item .selector {
    margin: 0.5vw;
}

#select_all {
    padding: 0 1.5vw 2vw;
}

.select_all_title {
    display: inline-block;
    vertical-align: middle;
    color: black;
    font-size: 0.8vw;
    margin-left: 0.5vw;
}

#save_add_client_file {
    color: white;
    text-transform: uppercase;
    font-size: 0.9vw;
    padding: 0.8vw 1vw;
    border-radius: 50px;
    position: absolute;
    top: 3.4vw;
    right: 1.5vw;
}

#save_add_client_file {
}

.white_fon {
    position: relative;
    background: white;
    border-radius: 5px;
    background: white;
}

#align_zone {
    padding: 0 2%;
}

#align_zone .crm_title {
    padding: 1.5vw 0;
}

#crm_file_promo {
    background: white;
    border-radius: 5px;
    padding: 2%;
    position: relative;
}

#crm_file_promo .inline_style {
    vertical-align: middle;
}

#crm_file_promo .row1 {
    width: 53%;
    cursor: pointer;
}

#crm_file_promo .row1 img {
    margin-right: 1.5vw;
    width: 2vw;
    height: auto;
}

#crm_file_promo .row2 {
    width: 10%;
}

#crm_file_promo .row3 {
    width: 13%;
}

#crm_file_promo .row4 {
    width: 16%;
}

#crm_file_promo .row5 {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#crm_file_head {
    color: #b5b5b5;
    text-transform: uppercase;
    font-size: 0.7vw;
    font-family: 'pf_dindisplay_probold';
    padding: 0vw 0 0.5vw;
}

#crm_file_body {
}

.crm_file_line {
    font-size: 0.9vw;
    padding: 0.8vw 0;
    border-top: 1px solid #f2f2f2;
}

.s_a {
    font-size: 0.8vw;
    color: #555;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    padding: 0.2vw 0.8vw;
}

#crm_documents_upload {
    position: absolute;
    width: 16%;
    height: 2.3vw;
    right: 0;
    top: -3vw;
    overflow: hidden;
}

#crm_documents_upload input {
    position: absolute;
    width: 22.5vw;
    height: 2.3vw;
    opacity: 0;
    top: 0;
    cursor: pointer;
    left: -10vw;
}

#crm_documents_upload button {
    pointer-events: none;
    font-size: 0.9vw;
    color: white;
    display: block;
    text-transform: uppercase;
    padding: 0.5vw 1vw 0.5vw 2.1vw;
    border-radius: 50px;
    background-image: url(../img/cloud_ico.png);
    background-repeat: no-repeat;
    background-position: 0.6vw center;
    background-size: 1vw;
}

.crm_let_plus {
    font-size: 1.3vw;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5vw;;
}

#crm_view_user_reviews {
    padding-bottom: 1.8vw;
}

#crm_view_user_reviews p {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8vw;
    color: #5d5d5d;
}

#crm_view_user_reviews form {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.8vw;
    position: relative;
}

#crm_view_user_reviews select {
    border: 1px solid #898989;
    outline: none;
    font-size: 0.9vw;
    background: #f7f7f7;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.7vw 2vw 0.7vw 1vw;
    cursor: pointer;
}

#crm_view_user_reviews form:after {
    content: '';
    background: url(../img/select_ico.png) no-repeat;
    width: 0.7vw;
    height: 0.4vw;
    display: block;
    background-size: 0.6vw;
    top: 50%;
    right: 5%;
    pointer-events: none;
    position: absolute;
}

.review_box {
    padding: 2%;
}

.review_l {
    width: 29%;
}

.review_info_line {
    padding: 0.8vw 0;
    border-top: 1px solid #f2f2f2;
}

.review_info_line:first-child {
    border: 0;
}

.review_info_line .row1 {
    width: 34%;
}

.review_info_line .row2 {
    width: 66%;
}

.review_info_line .revie_img {
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 1vw;
}

.review_info_line .revie_img .img_fon {
    width: 100%;
    height: 100%;
}

.review_r {
    width: 60%;
    margin-left: 10%;
}

.review_title {
    font-size: 1.1vw;
    font-family: 'pf_dindisplay_probold';
}

.review_content {
    font-size: 1vw;
    padding: 1vw 0;
}

.review_form {
}

.review_form textarea {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 0.8vw 2%;
    font-size: 1vw;
    width: 85%;
    resize: none;
    height: 5vw;
}

.review_form .box_review {
    width: 2.5%;
    height: 1.2vw;
    border-left: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    margin-right: 4%;
}

.review_form button {
    color: white;
    font-size: 0.9vw;
    padding: 0.3vw 0.8vw;
    border-radius: 50px;
    margin-top: 1vw;
    margin-left: 7%;
}

#manager_short_info {
    color: #565b6d;
    padding: 1.6vw 0 2.6vw;
}

#manager_short_info .inline_style {
    vertical-align: middle;
    font-size: 1vw;
    margin-right: 1.5vw;
}

#manager_short_info .inline_style:last-child {
    font-size: 0.9vw;
}

#manager_short_info .img_fon {
    width: 3.6vw;
    height: 3.6vw;
    border-radius: 100px;
}

.back_to_orders {
    color: #a9a9a9;
    padding-bottom: 1.5vw;
    font-size: 0.8vw;
    display: block;
}

#manager_orders_l {
    width: 65%;
    color: #5d5d5d;
}

#manager_orders_l b {
    color: #0a0a0a;
    font-family: 'pf_dindisplay_probold';
}

#manager_orders_r {
    width: 32%;
    padding-left: 2.1%;
}

#order_head {
    position: relative;
    padding: 1.3vw 3%;
}

.order_title {
    font-size: 1.5vw;
    padding-bottom: 1.3vw;
}

.order_des {
    font-size: 0.9vw;
}

#manager_button_box {
    position: absolute;
    top: 1.3vw;
    right: 3%;
    text-align: right;
}

#manager_button_box button {
    color: #565b6d;
    background: transparent;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    padding: 0.3vw 0.8vw;
    font-size: 0.8vw;
    display: inline-block;
    margin-bottom: 1vw;
}

#manager_button_box button.active {
    background: #e8e8e8;
}

.hid_box {
    position: absolute;
    background: white;
    box-shadow: 0 0 50px 10px rgba(0, 1, 1, 0.35);
    display: none;
    border-radius: 5px;
}

.hid_box:before {
    content: '';
    position: absolute;
    top: -0.5vw;
    left: 50%;
    width: 2vw;
    height: 2vw;
    transform: rotate(45deg);
    background: white;
    margin-left: -1vw;
}

#hid_status {
    color: #565b6d;
    font-size: 0.9vw;
}

.hid_cd_status {
    border-bottom: 1px solid #e3e3e3;
    margin: 0 0.8vw;
    position: relative;
    overflow: hidden;
}

.hid_cd_status input {
    position: absolute;
    left: -1000px;
}

.hid_cd_status p {
    cursor: pointer;
    width: 6vw;
    text-align: left;
    padding: 0.7vw 0;
    font-size: 0.8vw;
}

.hid_cd_status:last-child {
    border: 0;
}

#hid_marker_form {
    width: 20vw;
    z-index: 2;
    text-align: center;
    padding: 0 2vw;
}

#calendar_title {
    font-size: 0.9vw;
    padding: 1.4vw 0;
    position: relative;
    z-index: 2;
}

#calendar2 {
    width: 100%;
    text-align: center;
    font-size: 1.2vw;
    color: #61676b;
}

#calendar2 .today {
    position: relative;
}

#calendar2 td {
    position: relative;
}

#calendar2 thead tr:first-child td {
    padding-bottom: 1.7vw;
}

#calendar2 thead tr:first-child td:first-child {
    cursor: pointer;
}

#calendar2 thead tr:first-child td:last-child {
    cursor: pointer;
}

#calendar2 thead tr:last-child td {
    text-transform: uppercase;
    font-size: 0.9vw;
}

#calendar2 tbody td span {
    font-size: 0.9vw;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 50px;
    margin: 0vw 0;
    padding: 0.4vw 0;
    width: 2vw;
}

#calendar2 tbody tr:last-child {
    display: none;
}

#calendar2 .block:hover span {
    background: transparent !important;
    color: #61676b !important;
    border: 1px solid transparent !important;
}

#calendar2 .today, #calendar2 .work {
    cursor: pointer;
}

#calendar2 .today:hover, #calendar2 .work:hover {
    color: white;
}

#calendar2 .today span {
    border: 1px solid #c2c2c2;
}

#calendar2 .active span {
    color: white;
}

#calendar_legend {
    color: #6d6d6d;
    font-size: 0.7vw;
    text-align: left;
    padding: 1.5vw 0;
}

#calendar_legend span {
    display: inline-block;
    vertical-align: middle;
}

.legend_today {
    width: 1vw;
    height: 1vw;
    border: 1px solid #c2c2c2;
    border-radius: 50px;
    margin: 0 0.4vw 0 1.1vw;
}

.legend_active {
    width: 1vw;
    height: 1vw;
    border-radius: 50px;
    margin: 0 0.4vw 0 1vw;
}

#hid_marker_form button {
    font-size: 0.9vw;
    padding: 0.4vw 1vw;
}

#cart_item_table {
    padding: 0 3%;
    margin-bottom: 1vw;
}

#cart_item_head {
    font-family: 'pf_dindisplay_probold';
    text-transform: uppercase;
    color: #b5b5b5;
    font-size: 0.8vw;
}

#cart_item_table .row1 {
    width: 13%;
}

#cart_item_table .row2 {
    width: 48%;
}

#cart_item_table .row3 {
    width: 13%;
}

#cart_item_table .row4 {
    width: 13%;
}

#cart_item_table .row5 {
    width: 13%;
}

.cart_item_line {
    border-top: 2px solid #f0f0f0;
    height: 3.6vw;
}

.cart_item_line .inline_style {
    vertical-align: middle;
}

.cart_item_line .row1 {
    height: 2.6vw;
    width: 8% !important;
    margin-right: 5%;
    margin: 0.5vw 5% 0.5vw 0;
}

.cart_item_line .row2 {
    font-size: 0.9vw;
}

.cart_item_line .row3, .cart_item_line .row4 {
    font-size: 1.1vw;
}

.cart_item_line .row5 {
    font-size: 1.2vw;
    font-family: 'pf_dindisplay_probold';
}

#cart_item_footer {
    text-align: right;
    padding: 1.4vw 0px;
    font-family: 'pf_dindisplay_probold';
    font-size: 1.2vw;
}

.manager_order_doc_line {
    margin: 0 3%;
    padding: 1vw 0;
    border-top: 2px solid #f2f2f2;
}

.manager_order_doc_line:first-child {
    border-top: 0;
}

.manager_order_doc_line img {
    width: 3%;
    vertical-align: middle;
    margin-right: 3%;
}

.manager_order_doc_line p {
    color: #5d5d5d;
    font-size: 0.8vw;
    display: inline-block;
    vertical-align: middle;
}

.manager_order_doc_line .new {
    font-family: 'pf_dindisplay_probold';
    background: #92c756;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 0.2vw 0.5vw;
    font-size: 0.6vw;
    vertical-align: middle;
    margin-left: 2%;
}

.manager_order_doc_line a {
    font-size: 0.8vw;
    color: #555555;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    padding: 0.2vw 1.5%;
}

.manager_order_doc_line .inline_style {
    vertical-align: middle;
    width: 82%;
}

#manager_order_doc_view {
    margin-bottom: 1.5vw
}

#manager_order_file_load {
    position: relative;
    margin-left: 3%;
    margin: 1vw 3%;
    display: inline-block;
}

#manager_order_file_load button {
    position: relative;
    pointer-events: none;
    color: #555555;
    background: transparent;
    padding: 0.3vw 0.6vw 0.3vw 2.1vw;
    font-size: 0.8vw;
    border-radius: 50px;
    background-image: url(../img/order_file_ico.png);
    background-repeat: no-repeat;
    background-position: 0.6vw center;
    background-size: 0.9vw;
    border: 1px solid #dedede;
}

#manager_order_file_load input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 10vw;
    height: 1.9vw;
    cursor: pointer;
}

.magaz_info_box {
    padding: 1.6vw 5.7% 1.1vw;
}

.magaz_info_box_title {
    font-size: 1.3vw;
    padding-bottom: 1vw;
    border-bottom: 1px solid #f0f0f0;
}

.magaz_info_box_contact_title {
    padding: 1.2vw 0;
    color: #000000;
    font-size: 1.1vw;
}

.magaz_info_box_contact_wrap {
    color: #565b6d;
    font-size: 1vw;
    padding-bottom: 1vw;
}

.magaz_info_dop_content {
    color: #8c909f;
    font-size: 0.8vw;
}

.manager_title {
    font-size: 1.4vw;
    color: #5d5d5d;
    padding-bottom: 1vw;
    position: relative;
}

.client_title {
    /* font-size: 1.4vw; */
    /* color: #5d5d5d; */
}

.client_views_file {
    position: relative;
    padding: 0 1.7%;
    margin-top: 1.5%;
}

.client_views_file .row1 {
    width: 56%;
}

.client_views_file .row2 {
    width: 19%;
}

.client_views_file .row3 {
    width: 10%;
}

.client_views_file .row4 {
    width: 12%;
}

.client_views_file .row5 {
    width: 12%;
}

.client_views_file .row6 {
    width: 8%;
}

.client_view_file_head {
    color: #b5b5b5;
    text-transform: uppercase;
    font-size: 0.7vw;
    font-family: 'pf_dindisplay_probold';
    padding: 1vw 0 0.5vw;
}

.client_view_file_body {
}

.client_view_file_line {
    font-size: 0.9vw;
    padding: 0.8vw 0;
    border-top: 1px solid #f2f2f2;
}

.client_view_file_line .inline_style {
    vertical-align: middle;
}

.client_view_file_line .row1 {
    color: #5d5d5d;
}

.client_view_file_line .row1 img {
    width: 2vw;
}

.client_view_file_line .row1 span {
    display: inline-block;
    vertical-align: middle;
    font-family: 'pf_dindisplay_probold';
    background: #92c756;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 0.2vw 0.5vw;
    font-size: 0.6vw;
}

.client_view_file_line .row1 p {
    margin: 0 0.5vw 0 1vw;
}

.client_view_file_line .row6 a {
    border: 1px solid #d6d6d6;
    border-radius: 20px;
    padding: 0.4vw 1vw 0.4vw 0.8vw;
    font-size: 0.8vw;
    color: #555;
}

.client_info_line {
    padding: 2%;
    margin-bottom: 2.5vw;
}

.client_info_line .inline_style {
    vertical-align: middle;
}

.client_info_line .img_cont {
    width: 15%;
    text-align: center;
    margin-right: 2%;
}

.client_info_line .img_cont img {
    width: 100%;
}

.client_info_line .title {
    width: 45%;
    color: #5d5d5d;
    font-size: 1.4vw;
}

.client_info_line .link_box {
    width: 38%;
    text-align: right;
    color: #565b6d;
}

.client_info_line .show_client_cart {
    font-size: 0.9vw;
    padding: 0.3vw 0.8vw;
    border: 1px solid #d6d6d6;
    border-radius: 50px;;
}

.client_info_line .cd_client {
    font-size: 0.8vw;
    padding: 0.2vw 0.6vw;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
}

.client_info_line .short_line {
    font-size: 0.8vw;
    text-align: left;
    padding: 0 3%;
    max-width: 32%;
}

.manager_box_row .inline_style {
    margin-right: 2%;
    width: 48%;
}

.manager_box_row .inline_style:last-child {
    margin-right: 0;
}

.manager_box_row .white_fon {
    padding: 4%;
}

.manager_box_row .order_title {
    font-size: 1.1vw;
}

.manager_box_row .order_title .s_a {
    margin-left: 0.8vw;
}

.manager_box_row b {
    font-family: 'pf_dindisplay_probold';
}

.s_a {
    font-size: 0.8vw;
    padding: 0.2vw 0.6vw;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
}

.link_in_page_order {
    padding: 0.3vw 0.8vw;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    font-size: 0.9vw;
    margin-top: 1.3vw;
    display: inline-block;
    margin-right: 0.5vw;
}

.manager_client_page_order {
    padding: 1.3vw 0;
    border-bottom: 1px solid #d6d6d6;
}

.manager_client_page_order:first-child {
    padding-top: 0;
}

.to_work {
    color: white;
    border: 1px solid transparent !important;
    background: #92c756;
}

.show_more_orders {
    display: block;
    text-align: center;
    font-size: 0.9vw;
    color: #a3a3a3;
    padding-top: 1vw;
}

.manager_box_row {
    padding-bottom: 1.6vw;
}

.manager_file_view {
    border-top: 1px solid #d6d6d6;
    padding: 1vw 0;
}

.manager_file_view:first-child {
    border: 0;
}

.manager_file_view img {
    width: 5.3%;
    margin-right: 1.7%;
}

.manager_file_view p {
    color: #5d5d5d;
    font-size: 0.8vw;
    width: 78%;
}

.manager_file_view p span {
    color: white;
    background: #92c756;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'pf_dindisplay_probold';
    font-size: 0.6vw;
    padding: 0.3vw 0.4vw 0.2vw;
    border-radius: 50px;
    line-height: 0.6vw;
    margin-left: 0.6vw;
    vertical-align: middle;
}

.manager_file_view .d_inline {
    display: inline-block;
    vertical-align: middle;
}

.manager_all_file_in {
    position: relative;
    display: inline-block;
    width: 29%;
    overflow: hidden;
    margin-left: 0.6vw;
    height: 1.5vw;
    vertical-align: middle;
}

.manager_all_file_in input {
    cursor: pointer;
    width: 500px;
    position: absolute;
    left: -200px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    height: 1.5vw;
}

.manager_all_file_in a {
    position: relative;
    pointer-events: none;
    padding-left: 2vw;
    background-image: url(../img/order_file_ico.png);
    background-repeat: no-repeat;
    background-position: 0.6vw center;
    background-size: 0.9vw;
    display: inline-block;
}

.manager_file_link {
    padding-top: 1.5vw;
}

.manager_file_link a {
    vertical-align: middle;
}

.hist_order_cl_page {
    color: #5d5d5d;
    font-size: 0.9vw;
    padding: 1.1vw 0;
    border-top: 1px solid #d6d6d6;
}

.hist_order_cl_page:first-child {
    border-top: 0;
}

.hist_order_cl_page b {
    color: #0a0a0a;
}

.hist_order_cl_page .hist_l {
    display: inline-block;
    vertical-align: middle;
    width: 81%;
}

.hist_order_cl_page .hist_r {
    display: inline-block;
    vertical-align: middle;
}

.shop_list_cl_page .hist_l {
}

.shop_list_cl_page {
    padding: 1.3vw 0;
}

.cl_page_top_align {
    margin-top: 1.3vw;
    display: inline-block;
}

.discont_line {
    padding: 2%;
    color: #5d5d5d;
    margin-bottom: 2.3vw;
}

.discont_line p {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4vw;
}

.discont_line p:first-child {
    margin-right: 0.5vw;
}

.discont_line p:last-child {
    float: right;
}

.discont_line a {
    display: inline-block;
    vertical-align: middle;
}

.w_c {
    padding-bottom: 0.8vw;
}

.title_in_lt {
    font-size: 1.5vw;
    text-align: left;
    padding-bottom: 1vw;
}

.akz_content_lt {
    text-align: left;
    font-size: 1vw;
}

.akz_content_lt p {
    padding-bottom: 1vw;
}

.akz_content_lt img {
    display: block;
    margin: 1vw auto;
    max-width: 100%;
}

.add_from_lt {
    display: inline-block;
    font-size: 0.9vw !important;
    padding: 0.5vw 0 !important;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    width: 6vw;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    color: #5d5d5d;
    margin-left: 0.3vw;
    cursor: pointer;
}

.manager_catalog_all {
    text-align: left;
}

.manager_catalog_all input {
    background: #FFF url(../img/finder_ico.png) no-repeat 0.7vw center;
    border-radius: 50px;
    color: #9e9e9e;
    padding: 0.5vw 1vw 0.5vw 2vw;
    font-size: 0.9vw;
    width: 20vw;
    border: 2px solid #e6e6e6;
    background-size: 0.7vw;
    margin-bottom: 1vw;
}

.oblom {
    padding: 2vw 0;
}

.goods_item {
    display: inline-block;
    vertical-align: top;
    background: white;
    width: 18%;
    margin: 0 2% 2% 0;
    padding-bottom: 1.5vw;
}

.goods_item:nth-child(5n+7) {
    margin-right: 0;
}

.goods_item .img_fon {
    height: 11.1vw;
    border-bottom: 1px solid #f2f2f2;
}

.goods_item p {
    font-size: 1vw;
    color: #565b6d;
    padding: 1.4vw 1.6vw 1vw;
}

.goods_item .price, .goods_item button {
    display: inline-block;
    font-size: 1vw;
    padding: 0.4vw 0;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    width: 6vw;
    text-align: center;
    background: transparent;
    color: #5d5d5d;
}

.goods_item .price {
    margin-left: 0.9vw;
    font-family: 'pf_dindisplay_probold';
}

.goods_item button {
    margin-left: 0.3vw;
    font-size: 0.9vw;
    padding: 0.5vw 0;
}

.goods_item button svg {
    width: 0.7vw;
    height: 0.7vw;
    stroke-width: 20px;
}

#tovari_tut .goods_item:nth-child(5n+7) {
    margin-right: 2%;
}

#tovari_tut .goods_item:nth-child(5n+5) {
    margin-right: 0;
}

.akz_special_item {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    background: white;
    margin-right: 2%;
    margin-bottom: 2%;
    height: 19vw;
    border-radius: 7px;
}

.akz_special_item:nth-child(2n) {
    margin-right: 0;
}

.akz_special_item .img_fon {
    height: 100%;
    width: 55%;
    margin: 0 2.5%;
    display: inline-block;
    vertical-align: middle;
}

.demo_akz_txt_cont {
    display: inline-block;
    vertical-align: middle;
    width: 38%;
    color: #5d5d5d;
}

.demo_akz_title {
    font-size: 1.5vw;
    line-height: 1.5vw;
    padding-bottom: 0.5vw;
}

.demo_akz_txt_cont div {
    font-size: 1vw;
}

.demo_akz_txt_cont button {
    font-size: 1vw;
    padding: 0.5vw 0.5vw;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    text-align: center;
    background: transparent;
    color: #5d5d5d;
    line-height: 1vw;
    margin-top: 1vw;
    margin-right: 0.6vw;
}

.demo_akz_txt_cont button svg {
    width: 0.7vw;
    height: 0.7vw;
    stroke-width: 20px;
}

.manager_select_link {
    position: absolute;
    top: -1.4vw;
    color: #FFF;
    display: block;
    text-transform: uppercase;
    padding: 0.5vw 1vw;
    border-radius: 50px;
    margin: 1vw auto;
    right: 0;
    font-size: 0.9vw;
}

#save_client_page {
    font-size: 1.4vw;
    color: #FFF;
    display: block;
    text-transform: uppercase;
    padding: 0.5vw 0;
    width: 200px;
    border-radius: 50px;
    margin: 1.5vw auto 3.7vw;
}

#discont_table {
    width: 35vw;
    padding: 1vw 1.5vw;
}

#discont_table .row1 {
    width: 30%;
    display: inline-block;
}

#discont_table .row2 {
    width: 30%;
    display: inline-block;
}

#discont_table .row3 {
    width: 30%;
    display: inline-block;
}

#discont_table .row1 input {
}

#discont_table .row2 input {
}

#discont_table input {
    font-size: 1vw;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    width: 90%;
    padding: 0.3vw 3%;
}

.discont_form_line {
    padding: 0.5vw 0;
}

.del_line {
    margin-left: 1vw;
    font-size: 0.8vw;
    padding: 0.2vw 0.5vw;
    border: 1px solid #c2c2c2;
    border-radius: 50px;
    cursor: pointer;
}

#add_disc_line {
    display: block;
    font-size: 1vw;
    border: 1px solid #c2c2c2;
    background: white;
    padding: 0.3vw 1vw;
    border-radius: 50px;
}

#save_disc {
    color: #FFF;
    font-size: 1vw;
    text-transform: uppercase;
    padding: 0.7vw 0.8vw 0.5vw;
    border-radius: 50px;
    display: block;
    margin: 1vw auto;
}

.review_box_item {
    padding-bottom: 2vw;
    margin-bottom: 2vw;
    border-bottom: 1px solid #c2c2c2;
}

.review_box_item:last-child {
    margin-bottom: 0;
    border: 0;
}

.client_title {
    /* padding: 1.5vw; */
    padding-top: 1.5vw;
    /* font-size: 1.4vw; */
    /* color: #5d5d5d; */
}

.manager_settings_box .manager_settings_line {
    padding-bottom: 1vw;
}

.manager_settings_box .manager_settings_line p {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1vw;
    width: 40%;
}

.manager_settings_box .manager_settings_line input {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-size: 1vw;
    padding: 0.7vw 0.8vw;
    width: 19vw;
}

.manager_settings_box button {
    font-size: 1.1vw;
    color: #FFF;
    display: block;
    text-transform: uppercase;
    padding: 0.5vw 0;
    width: 200px;
    border-radius: 50px;
    margin: 1vw auto;
}

.discount_desc {
    margin-top: 0.8vw;
    width: 45%;
    padding: 2.8%;
}

.site_color p {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}

.site_color input {
    display: inline-block;
    vertical-align: middle;
}

.site_color {
    padding: 1.5vw 5%;
}

.img_file_box {
    width: 100%;
    position: relative;
}

.img_file_wrap {
    position: relative;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.img_file_wrap_i {
    width: 100%;
    height: 2vw;
    overflow: hidden;
    position: relative;
}

.img_file_wrap p {
    padding: 0.3vw 1vw;
    position: relative;
    top: 0;
    font-size: 0.9vw;
    border-radius: 50px;
    color: white;
    pointer-events: none;
    display: inline-block;
}

.img_file_wrap input {
    opacity: 0;
    cursor: pointer;
    padding: 0;
    width: 200%;
    left: -50%;
    position: absolute;
}

.img_file_box img {
    max-width: 90%;
}

.img_file_preview {
    display: inline-block;
    text-align: center;
    width: 50%;
}

#akz_file_input_img {
    padding: 0 5% 1.5vw;
}

#akz_file_input_img .pub_form_label_p {
    width: 100%;
    padding-bottom: 1.5vw;
}

#akz_file_input_img .img_file_wrap {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
}

#akz_file_input_img .img_file_wrap_i {
    height: 100%;
}

#akz_file_input_img #wrap_eto .img_file_preview {
    display: block;
    position: relative;
    z-index: 0;
    width: 100%;
}

#akz_file_input_img #wrap_eto:hover .img_file_preview:after {
    opacity: 1;
}

#akz_file_input_img #wrap_eto .img_file_preview:after {
    content: 'ÃƒÆ’Ã‚ÂÃƒÂ¢Ã¢â€šÂ¬Ã¢â‚¬ÂÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â°ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¼ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚ÂµÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â½ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¸ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬ËœÃƒâ€¦Ã¢â‚¬â„¢ ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â»ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¾ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â³ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¾';
    color: white;
    background: rgba(0, 0, 0, 0.45);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5vw;
    font-size: 1vw;
    opacity: 0;
}

#akz_file_input_img #wrap_eto .img_file_preview img {
    max-width: 100%;
}

#akz_file_input_img #wrap_eto {
    display: inline-block;
    width: 100%;
    position: relative;
}

.icon-format {
    display: inline-block;
    vertical-align: middle;
    background-size: 11vw;
    width: 2.2vw;
    height: 2.6vw;
    background-image: url(/html_source/img/pdf-jpg-word-icons2.jpg);
}

#akz_file_input_img #wrap_eto .img_file_wrap p {
    display: none;
}

#akz_file_input_img #wrap_eto .img_file_wrap input {
    left: 0;
    width: 100%;
    height: 100%;
}

.sett_save {
    border-radius: 50px;
    color: #FFF;
    font-size: 1.1vw;
    text-transform: uppercase;
    padding: 0.5vw 3vw;
    display: block;
    margin: 0 auto;
    border: 0;
}

.form_style {
    padding-bottom: 1.5vw;
}

#crm_file_promo .row5 svg {
    width: 0.7vw;
    stroke-width: 20px;
    cursor: pointer;
    stroke: black;
    display: inline-block;
    vertical-align: middle;
}

.icon-format-none {
    display: inline-block;
    vertical-align: middle;
    background-size: 3vw;
    width: 2.3vw;
    height: 2.6vw;
    background-image: url(/html_source/img/attachment-icon.jpg);
}
